[2015-05-05 02:15] williamsbdev opened #1 "[ENHANCEMENT] move code to test-support directory"
This looks like a great project! I'm excited to try this out.

Something that I noticed was that all the code is in the `addon` directory. It is not really needed outside of  testing. Because of that, I might recommend moving the code into the test-support directory so as not to bloat the production build of your hosting app.

I was unaware of this feature until @bcardarella pointed it out in an [

[2015-05-05 02:55] san650 commented on #1
Thanks for you suggestions, I'll move the code to test-support. Can you point me to some documentation about that folder? I couldn't find good documentation on how to build an ember-cli addon focused on creating testing helpers.

I'm really glad you liked the project and I really appreciate your feedback!

[2015-05-05 03:00] williamsbdev commented on #1
There isn't much documentation yet. Projects are the best documentation we have right now. You can checkout the addon I referenced above, the blog post I wrote, or this [example](https://github.com/dockyard/ember-validations/tree/master/test-support/helpers). That is where I stole my inspiration from. If you'd like to pair up sometime, let me know.

[2015-05-05 23:22] #1 closed

[2015-05-10 02:11] san650 opened #5 "`clickOnText` attribute"
The idea is to have an action attribute that allows to click an element by it's innerText.

[code]

[code]

And the text could do something like

[code]

The implementation is pretty straightforward

[code]
Note that the `text` param needs to be sanitized before using it in the CSS selector. We could ship a first version without worrying too much on the sanitization but it would be great if we can

[2015-05-10 02:14] san650 opened #6 "Validate element visible on `clickable` attribute"
We could improve the `clickable` helper by validating that the element we are clicking on is visible on the page and throw an error if not (like we do in most of the other attributes).

[2015-05-10 02:23] san650 opened #7 "Define attributes without a selector if the page has an scope defined"
Sometimes is handy to create a page or component and be able to define child attributes without setting a selector. For example:

[code]

[code]

In this case, the attributes `isVisible`, `isHidden` and `isError` validate properties on the `.modal` element.

__Right now this works but is not officially supported, so we need to create tests and documentations for this behavior.__

As an added bonus

[2015-05-12 00:45] san650 opened #9 "Use plain JavaScript objects as components"
It would be great if [plain objects](http://api.jquery.com/jQuery.isPlainObject/) could be used to define components. Right now, the only way of defining a components in your page object is by using the `.component({ ... })` helper.

i.e.

before

[code]

after

[code]

This way we continue decluttering the page object definition.

## Implementation

We can convert this plain object to a component

[2015-05-13 00:13] san650 commented on #5
Added by #8

[2015-05-13 00:13] #5 closed

[2015-05-13 01:36] san650 commented on #9
See #10

[2015-05-13 01:36] #9 closed

[2015-05-16 17:54] san650 opened #11 "Inherit scope by default on components and collections"
Right now, `PO.components` and `PO.collections` don't have a way to inherit parent scope. This is a problem mostly when using components inside a `PO.collection`.

It would be useful to change the default behavior to inherit scopes in components and collections and be able to reset it at component level.

This is how I imagine scopes should work:

__`collection` inherits parent scope by default__

[2015-05-19 03:27] #11 closed

[2015-05-19 12:47] knownasilya commented on #7
Nice, what is `component(..)` in this context?

[2015-05-19 12:48] knownasilya commented on #6
:+1: yes please

[2015-05-19 12:50] juanazam commented on #7
@knownasilya it refers to: https://github.com/san650/ember-cli-page-object/blob/master/DOCUMENTATION.md#component :)

[2015-05-19 12:54] knownasilya commented on #7
Nice, that's new since previously it was just a POJO, right?

[2015-05-19 12:58] juanazam commented on #7
Actually es the other way round, on the first versions of the addon, you had to specify components explicitly. In the latest versions, if you use a POJO, the addon will automatically convert it into a PagehObject object (so the PageObject definition is less bulky).

[2015-05-19 13:01] knownasilya opened #13 "PO.selectable"
For setting a value on a select field..

[2015-05-19 13:09] knownasilya commented on #7
Good to know. Thanks.

[2015-05-19 13:16] juanazam commented on #13
There are plans for providing support for a bunch of form attributes.

[2015-05-19 13:42] san650 commented on #13
Hi @knownasilya, thanks for your suggestion. It would be very useful to have an attribute helper for that.

I imagine a helper that selects an option by option's text.

[code]

[code]

Other alternatives would be to select an option by value or index... I'm not sure what's more useful. What do you think?

[2015-05-19 13:45] knownasilya commented on #13
Probably by text. It would be easier to write the tests without having to inspect the html.

[2015-05-21 02:15] #7 closed

[2015-05-28 00:38] #13 closed

[2015-06-06 13:07] san650 opened #21 "Document folder conventions"
One of the ideas @juanazam and I have is to have some conventions on where to generate the object pages.

We would like to propose and document these conventions so everyone can take advantage of them.

__Edit: take a look at #27 and #32__

## Folder structure

1. Put your Page Objects in `<root>/tests/pages/` folder
2. Put you custom components in `<root>/tests/pages/components/` folder

An examp

[2015-06-06 13:28] san650 opened #22 "Custom helpers"
One of the problems we have right now with custom components is that we don't have information about the surrounding context, making it difficult to have app specific but generic components.

i.e.

[code]

We need to have a way to define custom helpers that can have context awareness

Something like:

[code]

[2015-06-06 13:37] san650 opened #23 "Component lookup"
If we go with #21 and decide that custom components go in `tests/pages/components` folders, we can actually try to load the components by name in the page object definition.

Let's say we have a component `tests/pages/components/context-menu.js`, we could load it automatically from the page definition:

[code]

We can overload the `component` attribute helper so when it receives only a string para

[2015-06-06 13:44] san650 opened #24 "Deprecate build in favor of create"
It would be nice to follow Ember method naming conventions and use `create` instead of `build`.

Maybe we can deprecate `build` method and support it for a few releases (maybe until 1.0) and then remove it. See http://emberjs.com/api/#method_deprecate

[2015-06-06 18:18] san650 opened #25 "[Site] Document ES7 await support"
It would be great to document the support of `await` on actions

[2015-06-06 18:58] juanazam commented on #23
Sounds great!

[2015-06-06 19:09] juanazam commented on #21
:+1: A good questions would be were to put those components which the developer wants to separate from the page to make it smaller but are not re used elsewhere, the components general folder might become a bit messy. I guess we could apply naming conventions or that case (as well as in pages themselves for nested routes).

[2015-06-25 16:39] rafaltrojanowski opened #29 "Red test after installation: Uncaught SyntaxError: Unexpected token ="
Hi, I'm new in acceptance testing with page-objects. I had acceptance test which was green.
I use visit('path').
After PO installation I get global failure: SourceUncaught SyntaxError: Unexpected token =
from /assets/web-app-ember.js:10789

This is error from this function:
`
  function visitable(params = {}) {
    let path = this.path;

    if (path.indexOf(':') !== -1) {
      path = fillInDynam

[2015-06-25 16:49] san650 commented on #29
Are you using ES6 object destructuring to get the `visitable` reference?

Try doing something like this:

[code]

If that works, you can write the test as follows

[code]

Also, it would help if you can provide the full test file. Please, let me know how it goes.

[2015-06-25 16:53] san650 commented on #29
Are you using `ember-cli` with `babeljs` in your project?

[2015-06-26 00:53] san650 opened #32 "Add blueprint for components and helpers"
After #27 is merged it would be great to add a couple of additional blueprints to ease the creation of reusable components and helpers.

__1. page-object-component__

[code]

which generates...

[code]

__2. page-object-helper__

[code]

[code]

[2015-06-26 08:38] rafaltrojanowski commented on #29
I don't use babeljs in my CLI project.

This is my test:
`
import Ember from "ember";
import { module, test } from 'qunit';
import FactoryGuy, { make, build } from 'ember-data-factory-guy';
import startApp from '../helpers/start-app';

var App;

module('An Integration test', {
  beforeEach: function() {
    App = startApp();
  },
  afterEach: function() {
    Ember.run(App, App.destroy);
  }
});

[2015-06-26 08:52] rafaltrojanowski commented on #29
I introduced PO to test and still without success.
[code]

[2015-06-26 09:46] rafaltrojanowski commented on #29
I'm not sure if it may be important but I can see:
global failure
    ✘ SyntaxError: Parse error

under
PhantomJS 1.9┃
    0/1 ✘

in terminal, but it didn't have influence on this particular spec before.

[2015-06-26 12:30] san650 commented on #29
@rafaltrojanowski `ember-cli-page-object` depends on `ember-cli-babel` versions `^5.0.0`. I believe the error you're getting is from this line

[code]

[2015-06-26 13:51] rafaltrojanowski commented on #29
@san650 I'm using:
[code]
with CLI "0.2.7"

I had ember-cli-babel... only in package.json.bak.
I have complex project with pubnub-ember (poor support for CLI, it also throws errors during specs when I mocked other api requests properly).

I need to check page objects on fresh project, and get more information about ECMAScript.

Hm, rather not!

[2015-06-26 14:07] san650 commented on #29
Please, do try it on a fresh ember-cli project and let us know what you think about the addon :smiley:

I'm closing this issue now because it doesn't seems to be a problem with the ember-cli-page-object addon.

[2015-06-26 14:07] #29 closed

[2015-06-26 17:15] #22 closed

[2015-07-02 20:31] juanazam opened #36 "Implement Namespaces"
Given the following HTML

[code]
In order to test this comfortably with the current implementation I would build a PO component which looks like:

[code]
So I don't have to repeat the '.important-stuff selector' for both texts I want to check.

In order to access those values, I would have to write `page.pricingModal().importantStuff().cost()` to get the actual cost text. It would be great that `p

[2015-07-02 20:31] juanazam commented on #36
@san650 thoughts?

[2015-07-03 00:45] san650 commented on #36
Isnt' this the same as ...?

[code]

[2015-07-03 04:01] juanazam commented on #36
Wouldn't work if I had other information I want to test outside the "irrelevant" section

[2015-07-03 13:42] san650 commented on #36
So...

[code]
would be transformed into something like...

[code]

Right?

I'm not totally convinced, my main concerns are:
* You're telling people that it's ok to group attributes by their css class rather than grouping them by their semantic (the whole point of the pattern)
* Is not clear what happens with the `importantSuff` key. That key is just stripped out.

Saying that, I'm not against impl

[2015-07-03 13:48] juanazam commented on #36
The translation is correct, as you can see, the first option is clearer than the second one.

Regarding you concerns:

* I'm telling people there is a way of scoping some part of the page easily without having to create a function afterwards to do so or having to write code that is less understandable. Sometimes web apps have sections of pages which are useful for users but don't want to be tested

[2015-07-03 13:59] san650 commented on #36
Well, I think the user has several options already to make it more readable

Using variables

[code]

Scoping what changes:

[code]

And the default it's no so bad either

[code]

I mean, maybe it's useful on big page objects, but I think people already have alternatives to make it more readable.

But, as I said, let's go for it and see how it goes.

[2015-07-03 14:01] juanazam commented on #36
:+1:

Still think any of them is as clear as the proposed solution, I guess we can implement it and see how it goes, if looks good, we can merge it in.

[2015-07-15 08:21] donovan-graham opened #39 "visitable queryParam support"
First off,  this is a great addon and a pleasure to work with.

I'd like to see `.visitable` being able to support `queryParams`.
Query params are optional and would just be tacked onto the end of the existing url, if they are specified.

Here's the idea:

pages/books.js
[code]

acceptance/books-test.js
[code]

Possible fix
[code]

[2015-07-15 08:58] donovan-graham commented on #39
Added pull request
https://github.com/san650/ember-cli-page-object/pull/40

[2015-07-15 12:23] san650 commented on #39
Thanks Donovan, this is a great feature we're missing. I'll take a look at the PR.

[2015-07-15 14:09] acostami opened #41 "Improve collection item selector"
Given the following HTML

[code]
In order to select all items except the original one I would build a PO collection which looks like:

[code]

In order to access the items, I would have to write something like ```page.items(1)```, but this is not working with the current implementation because the selector will be ```$("li:not(.original):nth-of-type(1)")``` and the result will be empty in this cas

[2015-07-16 01:11] #41 closed

[2015-07-16 01:35] san650 commented on #39
Closed by #40

[2015-07-16 01:35] #39 closed

[2015-07-21 05:53] jackmatt2 opened #44 ""visit" with dynamic segments"
I do I handle dynamic segment in a route

In a normal test I would do
[code]

This is what I want
[code]

And then in my test
[code]

Is this sort of thing supported or is there a workaround for this?

[2015-07-21 05:54] #44 closed

[2015-07-21 05:54] jackmatt2 commented on #44
Haha, just saw it in the docs now.

[2015-07-21 12:40] juanazam commented on #44
:smile:

[2015-08-11 09:42] irnc opened #45 "Allow to access parent component in custom helpers"
Currently `build` function receives `parent` but does not uses it at all.

See https://github.com/san650/ember-cli-page-object/blob/master/test-support/page-object/build.js#L52

What do you think about allowing custom helpers to access parent from component object, e.g. put `parent` as a `component` property at `build` step and pass it in `options` at `buildPageObjectAttribute` step.

If there is

[2015-08-16 01:14] #32 closed

[2015-08-16 01:16] san650 commented on #21
#35 adds the last two blueprints needed to complete this feature.

[2015-08-16 01:16] #21 closed

[2015-08-16 01:59] san650 commented on #45
This sounds great!

When I was first creating the addon I wanted to have the parent available so we could create nice error messages when `findWithAssert` helper fails to find an element.

i.e. given...

[code]
As of today, if any of those look ups fail because the elements doesn't exist on the page, we see an error that reads something like

[code]

We actually have all the information to create

[2015-08-17 20:34] knownasilya opened #48 "page object VS page object component"
What's the difference between the two? They look very similar, other then the fact that one uses `PO.build` and the other uses `PO.component`..

Would love documentation on components, helpers and pages. How they work together.

[2015-08-17 20:58] juanazam commented on #48
The main difference is that using `build` always assume that you are setting the scope of the component to be created based on its definition while in the `component` function if there is not `scope` in the definition inherits the scope from its parent, thats why `component` should be use inside a page definition using `build`.

build: https://github.com/san650/ember-cli-page-object/blob/master/te

[2015-08-17 21:13] knownasilya commented on #48
Makes sense.

Regarding the documentation, I wasn't aware that even existed (or forgot), since I didn't see a link to it in the readme.

[2015-08-18 01:18] san650 commented on #48
@knownasilya The main difference about pages and components is that components are reusable among several pages, pages on the other hand cannot be used like attributes on other pages... or are not supposed to (the scope is transferred to components).

The README has a link to the documentation below the first examples (above BLUEPRINTS title), we'll change the README to make it more prominently.

[2015-08-20 03:37] csantero opened #50 "relative scope for components"
I haven't been able to figure out to get relative scope working for components. For example, given the following (apologies for the contrived example):
[code]

[code]

How can I make sure that `zebraComponent` points to the first component, and `giraffeComponent` points to the second one? I understand I could define two different components:

[code]

In this particular case I might also be able to

[2015-08-20 13:36] juanazam commented on #50
Hey @csantero,

I created small example that achieves what you are trying to implement using the `customHelper` function. You can check more about it [here](https://github.com/san650/ember-cli-page-object/blob/master/DOCUMENTATION.md#customhelper).

As yoy can see on this gist:

https://gist.github.com/juanazam/3778e1333d29a2097ba6

There is a way of implementing the 'relative' behavior using this

[2015-08-20 17:29] san650 commented on #50
Hi @csantero, first of all, thanks for your interest in improving the addon!

What you describe is a limitation we have with components today and the solution you propose is very interesting.

As @juanazam mentioned, some weeks ago we implemented a different approach to solve the same problem. I think this example shows how to solve exactly what you described https://github.com/san650/ember-cli-pa

[2015-08-20 19:04] csantero commented on #50
@juanazam @san650  Thanks, I converted my components to helpers returning POJOs like you've suggested, and that worked great.

[2015-08-20 19:04] #50 closed

[2015-08-28 00:08] kiwiupover opened #52 "Can I use ember-cli-page-objects with ember-cli-mocha"
Cheers

[2015-09-02 19:46] richmolj opened #54 "Allow mapping of collections"
Please correct me if I'm wrong, but I *think* it's not possible to do the following:

[code]

Or elsewise get a list of `users` without supplying every index. This would be nice to verify the UI is showing the correct list of users.

[2015-09-03 21:37] san650 commented on #54
Hi @richmolj, you're right, it's not possible to do that now. It's a nice idea and would be great to have this feature on collections.

[2015-09-03 21:39] san650 commented on #52
Hi @kiwiupover, although I didn't try to use ember-cli-page-object with ember-cli-mocha, I don't see why it wouldn't be compatible. I'll create a small demo app with this and let you know how it goes.

[2015-09-03 21:40] san650 commented on #48
Hi @knownasilya, please let me know if I can close this issue or if you have more questions regarding this.

Thanks!

[2015-09-03 22:10] san650 commented on #52
I've just created a small application to test this and it works great!

Please, let me know if you find any issue or have any other concern.

[2015-09-03 22:10] #52 closed

[2015-09-04 01:16] knownasilya commented on #48
Thanks :)

[2015-09-04 01:16] #48 closed

[2015-09-14 21:48] machty opened #56 "Assert selector matches single element?"
I trolled myself earlier because I chose a `.text` selector that matched more than one element (awkwardly enough it matched the desired element, as well as a parent/ancestor element of that desired element), and when I asserted on the value, it kept telling me the value was "Login  Login". I thought it was a cli-page-object bug until I dug in more.

My foolish class-naming aside, it seems very unl

[2015-09-15 02:15] san650 commented on #56
Hi @machty, thanks for your feedback.

I'm not sure if we should assert that exactly one element is matched or if we need to use only one of the matched elements. For some actions (i.e. `clickOnText`) we use the last matched element of the matched set.

So, I'm not sure if this is would be the desired behavior for _all_ the attributes, maybe we should make this the default behavior for predicates

[2015-09-16 14:54] machty commented on #56
Is it desirable for `clickOnText` to use the last matched element? That seems a bit like a footgun. If you're performing an action, isn't the expectation that you'd only be performing it on one element?

[2015-09-16 15:07] juanazam commented on #56
@san650 I would leave `.count` out of that list, we are using it to count how many elements of the selector passed as parameter exists so I guess it doesn't make a lot of sense to assert in that case.

@machty Regarding `clickOnText`, using the last matched element is an arbitrary decision, the thing is that there might me multiple elements with the same text to be clicked, several "Login" button

[2015-09-16 15:08] san650 commented on #56
I think `clickOnText` is a special case. We use the last matched element because we are looking for elements that contains a specific text. Let me try to explain it with an example.

Suppose that you have a modal with two buttons

[code]

You could have a page object like

[code]

The selector we're generating for the `modal.click` call is `.modal
:contains(Accept):last`. If we don't use `:last` w

[2015-09-16 15:20] machty commented on #56
@san650 I think I understand now: what you really want is to select the most specific element that contains the "Accept" and prune any other selected ancestor elements of that specific element, and `:last` just happens to be the quickest way to do that. The problem though is: what if you didn't realize you had two different "Accept" buttons on the page, perhaps one in the background in one in a mo

[2015-09-16 15:30] san650 commented on #56
@machty Makes sense. I think we could tackle this issue in two steps. For some attributes the change is pretty straight forward (`.text`, `.count`, etc.) but for the case of `.clickOnText` we would need a more clever implementation.

I believe there's a ember addon which adds test helpers that have something similar to this `clickOnText`, I don't remember the name of the addon right now but I'll t

[2015-09-23 17:08] bantic opened #58 "zero-indexing of collections?"
Is there a specific reason that the items in a collection are indexed starting at 1 and not 0? It was somewhat surprising to realize that I needed to use `page.someCollection(1)`  to get the first object (and that `page.someCollection(0)` returned the entire collection rather than an individual item). Would you accept a PR that changed [`scopeWithIndex`](https://github.com/san650/ember-cli-page-ob

[2015-09-23 17:51] juanazam commented on #58
@bantic Thanks for comment!

Your are right! We are aware of this, this happens because of the how we started implementing collections in the beginning. We used the `nth-of-type` selector to search for items on a collection, and that selector is 1-based. Right now we are not using it, but we don't want to change the current implementation because it would break compatibility with projects which re

[2015-09-23 20:50] bantic commented on #58
@juanazam Yeah, good idea! I'll issue a PR. I would also cast a vote for considering a breaking change to the indexing for the next major revision of this add-on.

Perhaps a path forward would be to add a deprecation when accessing an indexed item in a collection: "Accessing items in a collection is 1-based but will change to 0-based in version X". Consumers could set a flag in their test config l

[2015-09-23 20:52] #58 closed

[2015-09-24 02:20] juanazam commented on #58
@bantic we are considering deprecating this behavior in the future, and in case we decide to, your suggestions sounds great!

Thanks for using it and helping us making it even better

[2015-10-01 09:55] wayne-o opened #61 "Doesn't install correctly"
Just FYI - I had to manually add the test-support files into /tests to get this to work - seems fine after doing that though

[2015-10-01 13:04] juanazam commented on #61
Hi @wayne-o, what `ember-cli` version are you using?

Cheers!

[2015-10-01 13:33] wayne-o commented on #61
version: 1.13.8
node: 4.1.0
npm: 2.13.4
os: darwin x64

loving it so far btw :) really nice project - just deleted tons of code after converting a couple tests to page/object - always nice to be able to delete code :)

[2015-10-01 13:40] juanazam commented on #61
@wayne-o I will try installing the addon using a vanilla app to check if anything goes wrong, the last release included a lot of changes.

We are glad you like it! We love it too and we are planning to continue adding more cool features, you can write an issue if you want to propose new features or changes.

Thanks!

[2015-10-02 22:53] san650 commented on #61
@wayne-o I'm trying to reproduce this issue but I couldn't.

[code]

These are the steps I took to create the app:

[code]

and this is the code of the test and page object

`tests/acceptance/home-test.js`

[code]

`tests/pages/my-page.js`

[code]

and this is the output of `ember test` command

[code]

Could you provide us more information on how to reproduce it? It would be great if you can uplo

[2015-10-07 22:38] san650 commented on #61
Hi @wayne-o, did you had the chance to look at this issue?

[2015-10-08 20:01] leonardocsouza opened #63 "Should component scope inside a collection preserve parent selector?"
Hi there!

I've just recently started using this awesome addon (thank you so much!) and noticed what seems to be an issue, but I wanted to confirm if it's indeed one.

I have a situation where I have a tree of nested elements and all the scoping for each collection of items within another collection works great, with exception of a case where I'm trying to use a component as an attribute of an ite

[2015-10-08 22:30] san650 commented on #63
Hi @leonardocsouza, this is an issue indeed!

We detected this issue some days ago but I forgot to open an issue to let everyone else to be aware of it, thanks for reporting the issue.

We're working on a fix for it, see #62

For now, another workaround is to wrap the component in a `customHelper`, for example

[code]

Please, let me know if this works for you.

[2015-10-09 04:29] leonardocsouza commented on #63
Thank you SO much for the quick and detailed reply!

I thought a `customHelper` could be a good solution, but had not tried that yet. I've just tested it now with the info you shared above and it seems like I may be missing some step to get it to work because it just comes back as a plain javascript `Object` as if it didn't get initialized or something like that.

![image](https://cloud.githubuser

[2015-10-09 15:55] san650 commented on #63
Yes, you are right, let me fix the example so others can use it.

[code]

`customHelper` always returns a function, and the selector you pass to it will be scoped to the item level.

Although this is just a workaround for the issue you posted, it's a nice example of the power of the `customHelper`.

Cheers

[2015-10-10 02:32] san650 commented on #63
Fixed by #62

[2015-10-10 02:32] #63 closed

[2015-10-10 02:36] san650 commented on #63
@leonardocsouza this fix is included on version 0.8.1. Thanks again for your report!

https://github.com/san650/ember-cli-page-object/releases/tag/v0.8.1

[2015-10-11 19:41] leonardocsouza commented on #63
Awesome! Thank you for the update and for the fix! :) :+1:

[2015-10-17 18:12] san650 commented on #61
@wayne-o, I couldn't reproduce the issue and we didn't receive more info about it. So I'll close the issue for now, if you can reproduce it, please re-open it.

Thanks.

[2015-10-17 18:12] #61 closed

[2015-10-17 18:13] san650 commented on #56
Let's target this work for [v1.0](https://github.com/san650/ember-cli-page-object/milestones/v1.0) which won't be backward compatible.

[2015-10-17 19:02] #24 closed

[2015-11-01 00:18] san650 opened #75 "Better errors"
Right now several attributes (`text`, `value`, etc.) throw an exception when the element is not found on the page. The problem with this error is that it's not very descriptive and can be really hard sometimes to know what attribute of the PageObject was the one that failed.

Suppose we have the following page object

[code]

The current error looks like this

[code]

It would be great to generate

[2015-11-05 15:55] downie opened #77 "Component blueprint generates deprecation warning"
Making a new page object component with this command:
[code]
generates code that uses `PageObject.component` which gives the following deprecation message:
[code]

What should the blueprint generate for components to avoid that deprecation warning? something like this?
[code]

[2015-11-05 16:01] san650 commented on #77
@downie yes, exactly that!

Can you create a pull request with that solution?

[2015-11-05 16:02] downie commented on #77
will do

[2015-11-05 16:51] downie opened #79 "`findWithAssert` undefined during component unit test."
I'm new to PageObjects, so let me know if what I'm trying shouldn't be done.

I want to make a page object component that I can both:
* Use as part of a larger PageObject during an acceptance test
* Use in isolation in that component's unit test

I'm trying the 2nd thing first, but I've run into an issue. It appears that the functions like `clickable` and `text` use `findWithAssert` to find things

[2015-11-05 18:23] csantero commented on #79
@downie I use ember-cli-page-object in my component integration tests. I have to boot up the entire app just as if it were an acceptance test. This is sadly a lot of added boilerplate for each test module, but it does work.

Either ember-cli-page-object needs to be changed to work without using the injected test helpers, or the test helpers need to be available in component integration tests. I fe

[2015-11-05 18:55] downie commented on #79
Okay. I'll spin on this for a bit. I'm hopeful I can figure out a way to do this without having to launch the entire app for a unit test.

@csantero Do you know if there are other hidden dependencies on injected test methods that I might need to contend with?

[2015-11-05 19:05] juanazam commented on #79
@downie @csantero Hi, thanks for opening this discussion, we were not aware there might be some developers trying to use the addon for unit testing. When we created it, we saw it as an acceptance testing tool, and that's why it relies so heavily on integrating testing functionality.

I think it would be great to provide support for this kind of usage, we need to think how we can include that behav

[2015-11-05 19:07] csantero commented on #79
@downie Are you talking about component Unit tests or Integration tests? I only use the new-style component integration tests now, so I can't speak for how things differ in unit-land. Here's an example of what an integration test might look like using ember-cli-page-object:

[code]

[code]

[2015-11-05 19:23] csantero commented on #79
@juanazam I love using ember-cli-page-object for component integration tests. I think it's a really good fit. The best is when I can use the same helpers in both integration tests for my ember components and acceptance tests that use those components.

[2015-11-05 19:28] juanazam commented on #79
@csantero That code snippet you provided is very insightful, I guess a good first step would be to implement a blueprint so developers can generate their own integration tests easier. Then we can think of moving forward and avoid that boilerplate.

Would that make sense?

[2015-11-05 19:40] downie commented on #79
@csantero Ah, good point. Yes, we're still using the old-style unit component test, although this may be another good reason for converting over.

[2015-11-05 19:43] csantero commented on #79
@juanazam I agree. We could package a `component-test` blueprint that overrides the default one from ember-cli. It would yield boilerplate in the test file similar to what I have in my snippet, as well as creating a page-object helper corresponding to the component.

One thing to bear in mind is that when doing this inside an addon, the helper should probably be generated under `test-support` inst

[2015-11-05 21:00] csantero commented on #79
[Here is an issue on ember-test-helpers](https://github.com/switchfly/ember-test-helpers/issues/67) tracking being able to use test helpers from component integration tests.

[2015-11-06 01:58] san650 commented on #77
Fixed by #78

Thanks for reporting and fixing the error

[2015-11-06 01:58] #77 closed

[2015-11-06 02:17] san650 commented on #79
I agree that having this addon working on component integration tests would be a great feature.

I'm going to keep a close eye to the github issue that @csantero mentioned.

I didn't had the time to investigate how component integration tests are working right now. Are components rendered on the DOM when you don't instantiate an application? If so, it wouldn't be that hard to add support, we could

[2015-11-06 02:47] csantero commented on #79
@san650 In my example above, the component gets rendered to DOM inside #ember-testing when you call `this.render()`;

[2015-12-15 11:34] san650 opened #89 "[Site] Add a page to explain the blueprints included in the addon"
We need a page in the site that explains what blueprints are included and how to use them.

We can create a page using what we have in the README about the blueprints and add more info later.

[2015-12-15 11:36] san650 commented on #25
We could add an articles section to the site and add this kind of information there, like a mini `how to`

[2015-12-16 11:07] NeilAllen opened #90 "An action for datetimepicker"
There can't be many site out there without datetimepickers; can't get fillable action to work with datetimepicker. Is this a short-coming or am I doing it wrong?

var page = PageObject.create({
  name: PageObject.fillable('.input-start-date')
});

[2015-12-16 12:51] juanazam commented on #90
Hey @NeilAllen, can you provide more information? which date time picker are you using? is it rendering correctly on the tests environment?

[2015-12-17 10:17] NeilAllen commented on #90
Hi!, thanks for the reply.

We are using the ember-bootstrap-datetimepicker (https://github.com/plusacht/ember-bootstrap-datetimepicker.git)

We have developed a workaround, to be honest, which does what I was asking about.

Thanks for your time.

N

[2015-12-17 10:17] #90 closed

[2015-12-17 11:09] san650 commented on #90
@NeilAllen can you share the workaround? So, we understand what the problem was and It might help other users also.

Thanks and sorry we weren't able to help you with the issue

[2015-12-29 00:41] san650 commented on #23
Not going to happen anytime soon. Closing the feature request for now.

[2015-12-29 00:41] #23 closed

[2015-12-29 00:56] san650 commented on #54
Since a couple of releases we now have a new attribute `textList` which allows to retrieve the text of multiple items as an array.

http://ember-cli-page-object.js.org/api/queries/#textlist

I think this allows to do something similar to what this issue proposes.

[code]

We're changing the notation a bit for version [1.0](https://github.com/san650/ember-cli-page-object/milestones/v1.0), you can s

[2015-12-30 21:14] richmolj opened #95 "isVisible fails when element is not present"
According to the documentation, `isVisible` should return `false` when the element is hidden OR the element does not exist. But the library currently throws an error when the element does not exist. I believe this is because the code ends up hitting `findWithAssert`: https://github.com/san650/ember-cli-page-object/blob/master/test-support/page-object/properties/is-visible.js#L16.

[2015-12-30 22:11] san650 commented on #95
Hi @richmolj, thanks for taking the time to open the issue.

When we first developed the addon, we thought it was a good idea to throw an
error when the element didn't exist and I still think it's a good idea.

Re-reading the documentation I couldn't find a reference to what you point out:

From https://github.com/san650/ember-cli-page-object/blob/e806c00fbd7e94d96cc0f0b53b16214a0d6c87b5/DOCUMENTA

[2015-12-30 22:22] richmolj commented on #95
Thanks for the in-depth reply @san650! To me

It's implied "else it returns false". I can see that's maybe my misunderstanding though.

I'd be happy to improve the docs but IMHO it's not the desired behavior. I like the idea of refactoring a handlebars `{{#if}}..{{/if}}` to a conditional hidden css class, or vice versa, and not needing to change the tests at all. In addition, if I have the current

[2016-01-02 14:27] lolmaus commented on #95
Ran into this problem to.

I believe that there should be `.isPresentAndVisible()`. I suggest naming it `.exists()`.

Currently, how do I assert that a component does not exist on the page?

[2016-01-02 14:31] lolmaus commented on #95
Okay, this worked (Mocha/Chai):

[code]

But it's clumsy. I want to do this instead:

[code]

[2016-01-02 14:40] richmolj commented on #95
Been using asserting a 'count' of 0 for that purpose myself.

[2016-01-02 15:20] lolmaus commented on #95
The `count` predicate is only available on collections, not components.

[2016-01-03 23:32] san650 commented on #95
@lolmaus:

Right now you can test if a component is hidden on the page using the [`isHidden`](http://ember-cli-page-object.js.org/api/predicates/#ishidden) property. This property returns true if the property is hidden or it doesn't exist on the page. Is this what you need?

Also, note that every component already includes the `isVisible` and `isHidden` predicates, you can override them if you nee

[2016-01-05 14:31] jeradg opened #96 "Feature: Page objects in integration tests for components"
This addon is great in acceptance tests, so I thought I would try using page objects to DRY up my integration tests for Ember components. This seemed like it might be straightforward, since pages are structured based on components anyway, and almost all of the page-object methods would be useful in component tests (except `visitable()`).

This doesn't currently work, however, because ember-cli-pag

[2016-01-05 15:39] jeradg commented on #96
Just took another look at the codebase and noticed that there are a number of global acceptance test helpers in use. (`click()`, etc.) These would have to be replaced with their integration counterparts as well, but that should be equally doable.

[2016-01-05 19:40] csantero commented on #96
@jeradg See the discussion in #79. At the moment the workaround is to start the app for each component integration test.

[2016-01-06 15:35] richmolj commented on #95
I agree with improving properties instead of adding new ones :+1:.

That said, I'd still think this is incorrect behavior. I expect `isVisible` to be the opposite of `isHidden`, which according to your last comment will not raise when the element is not present on the page. If there is an options-based approach, it should apply to both `isHidden` and `isVisible` in the same way, and they should fu

[2016-01-06 16:10] jeradg commented on #96
OK, thanks. I'll restrict page objects to my acceptance tests for now.

[2016-01-06 16:10] #96 closed

[2016-01-06 17:02] jeradg commented on #79
@san650: In component integration tests (as of Ember 2.2.x), the app is not started during the tests at all (unless you manually add a call to `startApp()`). After you call `this.render(...)`, the DOM is available via `this.$()`.

I don't think it's a good idea to require the global test helpers to be available in integration tests, nor to require that the app be started. Both options go against t

[2016-01-06 17:20] jeradg commented on #79
Taking the idea one step further, I don't think there's a reason we couldn't add a feature to render the template from within a page object method. So for example:

[code]

This is a bit more ambitious than the original suggestion. But once the page object has access to `this`, I don't see a reason why it wouldn't work.

[2016-01-06 18:30] jeradg commented on #79
Also: The above assumes that only one test at a time is using the PageObject. If multiple tests are using it at once (I don't think Ember qunit currently works like this, but there might be some race condition/async situation I'm not thinking of), the `setContext()` suggestion wouldn't work.

What we would need is for the current `const page = PageObject.create(...)` declaration to instead be `con

[2016-01-06 22:15] csantero commented on #79
@jeradg This looks pretty neat. One concern I have, and this may just be driven by my own ignorance, but is the behavior of the global `click('#my-component')` test helper (and others like it) exactly the same as doing `this.$('#my-compnent').click()`? I was under the impression that the global helpers spawn a run loop and fire the event inside of it.

[2016-01-06 22:26] jeradg commented on #79
@csantero There are some differences. For example, `this.$('#my-component').click()` doesn't throw an exception if `#my-component` doesn't exist.

I think you only need to wrap the call to `this.$(...).click()` if it had async side-effects. That depends on the particular component.

Since we don't know if a user's component has actions that cause async side effects, we can wrap calls to `this.$(..

[2016-01-08 02:28] jeradg commented on #79
@san650 Any thoughts on this? I would love to get to work on a PR if this is a good approach for page objects in component integration tests.

[2016-01-10 14:55] san650 commented on #95
@richmolj you're right, let's change the behavior so `isVisible` and `isHidden` are symmetric. This is going to be implemented for the 1.0 release we're working on.

We can add a `raise` option later if we find it useful without breaking the compatibility.

Thanks everyone for the insights and feedback, it's really useful to improve the API.

[2016-01-10 15:32] san650 commented on #79
@jeradg I really like the ideas and I think we could split the work in multiple steps. The first one is to allow page objects to receive a context object and use that if it's available. I think this is the tricky part.

Note that we're not using the standard Ember object model and the current implementation of PageObject doesn't handle state, the page object it's stateless by design. The original

[2016-01-10 15:35] san650 commented on #79
@jeradg about the `render` helper, this can be added later because it doesn't break the API. After supporting component integration tests we can start playing with this kind of ideas and see what works and what doesn't :smile_cat:

[2016-01-10 16:10] csantero commented on #79
@san650  :+1:

[2016-01-10 16:41] jeradg commented on #79
@san650 That approach sounds good to me.

So the complete to-do list from this issue:

For 1.0:

- Make page objects inheritables by using a extend function
- Make page objects instantiables by using a create function

After 1.0:

- Support test context as a parameter of create
- Use test context if available in `find` and `findWithAssert` helpers
- Use test context if available in actions helpers

[2016-01-10 17:01] jeradg opened #97 "[Feature] Support for component integration tests"
(*Discussion continued from #79.*)

Page objects would be useful in component integration tests. To make this possible, a page object would need access to the test's `this` context, in order to access `this.$()`, `this.render()`, etc.

[2016-01-10 17:41] jeradg commented on #97
@san650 @csantero Some thoughts on passing the test's context to `Page.create()` (or `extend()`, for that matter):

I don't think that passing the context as its own argument would work well (`Page.create(this)`). First, users still need to be able to pass an object to `create()`, i.e.:

[code]

So if we passed `this` as a separate argument, it would look like

[code]

This sounds like a pain to m

[2016-01-10 20:33] csantero commented on #97
:+1: for

[code]

[2016-01-13 17:50] jeradg commented on #97
I've started work at https://github.com/jeradg/ember-cli-page-object/tree/component-integration-test-support.

@san650 I forked off of master. Let me know if there's a particular branch I should be merging from to keep up-to-date on your `extend()`/`create()` changes. I hesitate to do too much work on actually implementing the feature (vs. writing tests) until you're further along with those 1.0 c

[2016-01-15 16:16] jeradg commented on #97
Failing tests have been added for component integration test support.

https://github.com/san650/ember-cli-page-object/compare/master...jeradg:component-integration-test-support

I based the integration tests off of the existing acceptance tests, so this should be a good starting point.

Comments are welcome on the suggested syntax. (It's nothing fancy.)

[2016-01-18 06:34] donovan-graham commented on #97
:+1: I support this request.

I'm looking into this exact same use case and would like to see it materialize.

I ran into problems with the default Ember test helpers that are registered for acceptance tests. e.g click, find, findWithAssert.  These all seem to rely on an Ember app being initialized and backed by the `wait`

https://github.com/emberjs/ember.js/blob/f4b1e6622d197c188993dda06fdb10310

[2016-01-18 06:55] donovan-graham commented on #97
:+1: for this implementation

// tests/pages/components/my-component.js
[code]

// test/integration/component/my-component.js
[code]

This would also allow the component definition to be composable part of an acceptance test page DSL.

[2016-01-18 16:30] jeradg commented on #97
@donovan-graham In the context of an integration test, my instinct is that the helpers would be synchronous and would use the jQuery helpers. No need to an app instance or `wait`.

Do you have an example use-case for async page-object helpers in component tests? We could probably figure out a way to tie promises into the implementation, but my thought is that it would be overkill. Users could stil

[2016-01-19 08:41] donovan-graham commented on #97
@jeradg Agreed. If a particular use case comes to mind I'll post it.

[2016-01-20 23:45] san650 opened #100 "Add tests for blueprints"
It would be really cool to add tests for blueprints

https://github.com/ember-cli/ember-cli-blueprint-test-helpers

[2016-01-25 15:20] richmolj opened #105 "API Suggestion: Multi-Attribute fillables"
Just ran into this and it's a small issue but since you are working towards v1.0 figured I'd drop a line.

I have a search form where I'd like to enter values into the inputs, but also assert on those values (like loading the form from server data and verifying defaults are filled in). Currently this requires two attributes:

[code]

It would be nice to have just one 'name' field I could re-use. M

[2016-01-25 16:27] juanazam commented on #105
@richmolj right now the closes thing you can do is

[code]
And then do:

[code]
Anyway, I get the point, I think we can discuss about it for 1.x.

Thanks!

[2016-01-27 23:24] martinciu opened #106 "clickOnText action doesn't work"
`clickOnText` creates selector with a white space before `:contains` for example:

[code]

[code]

generates selector:
`h5 :contains('Article 1'):last`
 but it should be:
`h5:contains('Article 1'):last`

Is this test correct: https://github.com/san650/ember-cli-page-object/blob/master/tests/unit/actions/click-on-text-test.js#L10 ?

Selector like this doesn't work for me if I try it in the browser

[2016-01-27 23:48] san650 commented on #106
Hi @martinciu, Actually, the intention is to use the selector to scope the container in which to look for elements that contain that phrase. e.g. if you have a modal with buttons, you would do something like

[code]

and then

[code]

The idea is that you scope the search by the element that matches the selector. If you already know the exact element you want to click on then you should use the `c

[2016-01-27 23:58] san650 commented on #105
@richmolj I agree this is something to consider. I'm not sure if I would change the behavior of `fillable` and `value` because `fillable` returns a promise and runs outside of the `andThen` block and the `value` must be called inside a `andThen` block.

I think there's a way to create a simple helper that achieves that behavior, let me think about it a bit and I get back to you with an example on

[2016-01-28 00:09] san650 commented on #105
@richmolj here's an example on how to achieve that. I didn't test it thoroughly but I think it works just fine

[code]

Please let me know if it works for you :smile:

[2016-01-28 10:10] martinciu commented on #106
Hi @san650 , thanks for your reply.

This is my use case: I have several `h5` tags and I want to click only a few of them. For example:

[code]

And I want to click Article 1 & 3.

`clickable` won't work for this use case, will it?

[2016-01-28 16:45] richmolj commented on #105
@san650 interesting, it does look like that would work. That said, I actually really liked the API of @juanazam's comment. I wonder if it would be possible to get this 'out of the box', by always returning a reference to the element, and always being able to call any action/query on it:

[code]

So you save whether it's a `clickable`, `fillable`, etc until the actual test. I realize this would be

[2016-01-28 16:55] juanazam commented on #105
@richmolj you can actually build your own component to do that.

[code]

[code]

We have that in our application and it's very useful. Do you think this might do the trick?

[2016-01-28 16:59] richmolj commented on #105
Yep, I'm actually heading down that direction now. It would be nice to get this built-in to the add-on, though, so the API is consistent. For instance avoiding some projects doing `page.name().val()` and others doing `page.name().getValue()`, etc.

[2016-01-28 17:26] juanazam commented on #105
@richmolj we have thought abut building some 'default' components withing the addon, but it seems to hard to find a set that will always be useful for everybody. Anyway, there is still room for discussion on that, what do you think @san650?

[2016-01-28 21:59] san650 commented on #106
@martinciu no, it won't work for that use case.

You can create a [custom helper](http://ember-cli-page-object.js.org/api/components/#customhelper) though

[code]

Please, let me know if that works for you.

[2016-01-28 22:08] san650 commented on #105
@richmolj @juanazam actually, we already generate several properties for each _component_. Please take a look at [this page](http://ember-cli-page-object.js.org/api/components/#default-attributes).

So, let's say you have the following definition

[code]

then you have the following properties for free

[code]

Maybe it makes sense to keep adding default properties to DRY tests even more.

What ot

[2016-01-28 22:12] richmolj commented on #105
@san650 I did not realize that! I think this is actually my preferred way to use this add-on for most things. Is there a downside to just adding all the others?

[2016-01-28 22:33] san650 commented on #105
I don't see a downside, we introduced this feature with @juanazam a few months ago to see how it was going to work and personally I'm happy with the results, page object definitions got reduced a lot!

We chose the properties that made sense for most elements in the page, you usually want click, read the text or see if the element is there, at the time I felt that `fillIn`, `value`, etc. were too

[2016-01-28 23:17] juanazam commented on #105
@san650 sounds great! let's define that list so we can implement it as an `1.x` feature.

[2016-02-02 03:58] mitchlloyd commented on #106
@san650 I just started using this library and I'm very impressed!

I also ran into this situation and was confused. I have some links like `a.class` and expected to use the `clickOnTextHelper` as well. Reading the documentation seems to enforce that this is a natural fit.

I know this is a breaking change, but it seems like an improvement to remove the space. Then users can scope the selectors as

[2016-02-02 16:18] san650 commented on #106
@mitchlloyd Thanks for the feedback.

@mitchlloyd / @martinciu We could change the behavior of `clickOnText` to support current behavior and this new scenario in the 1.0 (see #91) release we're working right now. Let me think about the implementation a bit.

I'll fix the current documentation because 0.11 behaves differently as what is documented.

[2016-02-02 16:19] san650 commented on #106
@mitchlloyd Can you expand about what the `text` and `textList` inconsistencies are? Also, note that these two attributes are going to change in 1.0

[2016-02-02 16:35] mitchlloyd commented on #106
@san650 I just looked at #91. Looks like a lot of exciting things are coming!

I was just noticing that `text` and `textList` take a selector that represents the node you're looking for (no space) whereas `clickOnText` takes a selector representing a node that surrounds the node that you're interested in.

[2016-02-02 22:04] jeradg opened #112 "[Feature] .property query"
I find myself having to write this sort of thing a lot:

[code]

It would be good to have a `.property` query to check for element boolean properties, ex.:

[code]

[2016-02-02 22:46] san650 opened #113 "[1.0] Change `.visitable` method signature"
Current API

[code]

The generated function receives two different objects, the first one is for the dynamic segments and the second is for query params.

The problem arise when you don't have dynamic segments but you want to use query params

[code]

So, I would like to change the API so the function generated by `.visitable` receives only one parameter when it's invoked.

[code]

The idea is to

[2016-02-02 22:55] san650 opened #114 "[1.0] Change `.clickOnText` to match current element"
Current API implementation only considers the following scenario

[code]

[code]
This triggers a click event on the Save button element.

Now consider the following scenario (same HTML)

[code]

This won't work because the current implementation looks for elements inside button that contain the text but not the element itself.

We want both scenarios to work, so the idea is to first look for child

[2016-02-02 22:55] san650 commented on #114
Should tackle #106

[2016-02-02 23:00] san650 opened #115 "[1.0] Documentation"
API changes a lot from 0.11 to 1.0 and we need to inform users. I think we should:

# Must
- [x] Write documentation for 1.0 features
- [x] Update README.md file
- [x] Remove DOCUMENTATION.md file in favor of using the website
- [x] Update website to have both 0.11 and 1.0 documentation
- [x] Write a complete release notes explaining all the changes
- [x] Migration path

# Nice to have
- [x] Gener

[2016-02-02 23:05] san650 commented on #56
Fixed in master

[2016-02-02 23:05] #56 closed

[2016-02-02 23:06] san650 commented on #95
Fixed in master

[2016-02-02 23:06] #95 closed

[2016-02-03 05:20] MondeSameWave opened #118 "Checkbox"
How do I trigger a change in a checkbox

<input id="ember1663" type="checkbox" class="checkbox ember-view ember-checkbox">

[2016-02-03 12:48] san650 commented on #118
You should use the [`.clickable`](http://ember-cli-page-object.js.org/api/actions/#clickable) or [`.clickOnText`](http://ember-cli-page-object.js.org/api/actions/#clickontext) attributes.

Let's say you have the following HTML fragment

[code]

You can build a page object like

[code]

Here I'm using one of the [auto generated](http://ember-cli-page-object.js.org/api/components/#default-attributes

[2016-02-03 12:49] MondeSameWave commented on #118
Thanks

[2016-02-03 12:49] #118 closed

[2016-02-06 01:17] #114 closed

[2016-02-06 01:19] #113 closed

[2016-02-08 23:51] foxnewsnetwork commented on #61
Hey folks, I also ran into this problem (possibly the same as @wayne-o ) during installation, so time to flog this dead horse. :facepunch: :horse:

### TL;DR
If you use this in an addon project instead of an app, the test loader fails because the scaffolded code uses the addon's name as the namespace when it should use `dummy` as the namespace

### Howto: Reproduce
[code]
Open up `tests/acceptance

[2016-02-09 14:11] san650 commented on #61
Hi @foxnewsnetwork, thanks for the detailed bug report. Its definitely a bug.

As you said, the problem here it's how the generators point to the PageObject helper:

https://github.com/san650/ember-cli-page-object/blob/60c0d2026b6c6e73b4dadd96738065cbc74ae38d/lib/blueprints-helpers.js

And here's how you do this properly, we should copy it

https://github.com/ember-cli/ember-cli/blob/88b648ff15024

[2016-02-09 16:58] foxnewsnetwork opened #124 "Page Objects don't install correct in addon projects"
In reference to this other issue: https://github.com/san650/ember-cli-page-object/issues/61#issuecomment-181629831

The basic gist of it is that the loader can't find Page Object inside an addon project because it expects the PageObject to live inside `<%= project_name%>/tests/page-object` when it actually lives inside `dummy/tests/page-object`

[2016-02-15 17:18] jelhan opened #126 "ceibo should also be imported in development environment"
Since it's possible to run tests in development environment on http://localhost:4200/tests ceibo dependency should also be imported there. https://github.com/san650/ember-cli-page-object/blob/master/index.js#L10

[2016-02-16 02:15] kmiyashiro opened #127 "What to do about customHelper removal?"
I noticed 1.0.0 removes `customHelper`, what is the upgrade path for existing custom helpers?

[2016-02-16 12:12] juanazam commented on #126
@jelhan thanks! Do you want to create a pull request for this?

[2016-02-16 12:16] juanazam commented on #127
@kmiyashiro, there are multiple ways to move away from `customHelper`, it depends for what you are using it, can you show a particular case you might be worried about?

WIth 1.0.0, we have changed the way we generate PageObjects completely. The idea is that user would move away from `customHelper` to building their own [Ceibo](https://github.com/san650/ceibo) descriptors (all existing properties o

[2016-02-16 16:55] kmiyashiro commented on #127
I use `customHelper` to add a keyEvent and triggerEvent helpers

[code]

[2016-02-16 17:21] juanazam commented on #127
@kmiyashiro we have the same code on one project I found this very funny :smile:

You can build a propery in the `v1` one, for example: https://github.com/san650/ember-cli-page-object/blob/master/test-support/page-object/properties/fillable.js.

[code]

On this exampe I'm using the `buildSelector` helper build a selector based on where the `Ceibo` descriptor is within the PageObject definition and

[2016-02-18 17:51] kmiyashiro commented on #127
I see. And you call these things `properties` now?

[2016-02-18 17:57] juanazam commented on #127
On the page object project we have properties that are `Ceibo` descriptors. Example: `clickable` property is build using `Ceibo` we say it is a `Ceibo` descriptor.

[2016-02-19 21:04] danielspaniel opened #132 "is there a way to set the find scope? to be able to test modal dialog elements"
Am really enjoying this addon.

And I was wondering if there is a way to test modal-dialogs which attach themselves to the body and float outside the #ember-testing-container which all the find('class-selector') are usually scoped to.

 I can do this ( with plain old ember test helper find ):

 find('model-class-selector', 'body') // where I can change the scope to 'body'

 but is there a way to d

[2016-02-19 21:22] juanazam commented on #132
Hey @danielspaniel I'm happy to hear you are enjoying it.

I'm not 100% sure, but I think there is no easy way of doing this (querying within 'body' and also keep everything working with the addon's features).

Are we talking about something like:

[code]

I'm not sure if there is a way of overriding or changing how Ember's testing `find` method works, but in case it would be possible, we could ad

[2016-02-19 21:29] danielspaniel commented on #132
yes .. that is what I was thinking too

[code]

what we would need is for it to then do:

[code]

so it would not be overriding ember-test helper .. just using it and passing in the body selector.
 You know the internals of page object pretty well, so if you think it can be done I am willing to give it a shot too.

[2016-02-19 21:37] juanazam commented on #132
Looking into https://github.com/emberjs/ember.js/blob/v2.3.0/packages/ember-testing/lib/helpers.js#L170 it seems we can pass body as an argument, I guess we can build this feature and it shouldn't be too hard. Passing a "rootElement" to the `findCall` we do, if the options is set.

[2016-02-19 21:39] danielspaniel commented on #132
right .. do you want to give it a shot or help me do it?  I can get on screen hero sometime tonight or tomorrow if you like?

[2016-02-19 21:41] danielspaniel commented on #132
or you could temporarily set the rootElement on the application .. but that is pretty bad style

[2016-02-19 22:02] jeradg commented on #132
@danielspaniel: Alternately, you could re-write the modal to attach itself to the Ember app's `rootElement` rather than to `body`. (This might be a good idea anyway: The docs for `Ember.Application` note that "views appended to the DOM outside the root element will not receive events".)

[2016-02-19 22:09] danielspaniel commented on #132
hmm .. that was good idea .. @jeradg .. me like .. but not sure how to do that ..
 checking ...

[2016-02-19 22:13] danielspaniel commented on #132
looks like there is target property on ember-modal-dialog .. ( which defaults to 'body' )  I will see if I can set it to ember rootElement and then see if the tests work ( great idea dude )

[2016-02-19 22:21] jeradg commented on #132
The docs for ember-modal-dialog say that you can set target to an Ember View. Maybe you can set it to the application view? (Just a guess. I've never worked with that addon.)

[2016-02-19 22:29] danielspaniel commented on #132
trying that now and using  Ember.getOwner(this).rootElement   to get that name .. so far looking promising

[2016-02-19 22:34] jeradg commented on #132
Since this seems to mostly be a usage question rather than an issue per se, we can always continue this discussion in the ember-cli-page-object channel on the Ember Slack community. (https://embercommunity.slack.com/messages/ember-cli-page-object)

[2016-02-19 22:35] danielspaniel commented on #132
sure thing

[2016-02-19 22:35] #132 closed

[2016-02-23 22:18] juanazam commented on #127
@kmiyashiro we have finally released v1, I added [this](http://ember-cli-page-object.js.org/docs/v1.0.x/components) example to the official documentation. You can join the `ember-cli-page-object` channel in slack if you have more doubts. I'm closing this issue.

[2016-02-23 22:18] #127 closed

[2016-02-23 23:02] toranb opened #136 "[Question]: navigation composition"
Huge fan of your work and this great OSS project! One discussion I often get into with others is ...should we include menu/nav "clickable" inside specific page objects (and use composition to reuse a set of functions that do this) or ... should you just use more than 1 page object in your tests? One for the navigation /menu work and one for the content you are testing specifically ?

Thanks for th

[2016-02-23 23:27] juanazam commented on #136
@toranb we are glad you like it :smile:. That's actually a good question, I guess it's a matter taste, in my opinion, I like my page objects to reflect everything that the user sees when they get to a page (including repeated content as a menu or nav).

Anyway there are same cases that having more than one PageObject is more clear to me, for example testing that a transition is done when the user

[2016-02-24 16:05] toranb commented on #136
@juanazam excellent (sorry I didn't utilize the slack channel first) !

[2016-02-24 16:05] #136 closed

[2016-02-24 16:17] juanazam commented on #106
@mitchlloyd we included this change on `v1.0.0` do you think we can close this issue?

[2016-02-24 18:52] mitchlloyd commented on #106
Just reading over the new docs, I like the solution! This appears consistent and is what I expect.

However, I saw one issue in the README where an old example was not updated for the new API. Fixed it here:

https://github.com/san650/ember-cli-page-object/pull/137

Once that is fixed, LGTM. Can't wait to try out the new version!

[2016-02-24 19:14] juanazam commented on #106
We are very happy you like too, anyway there is more good stuff to come :smile:

[2016-02-28 06:38] brancusi commented on #25
:+1:

[2016-02-28 18:00] san650 commented on #127
@kmiyashiro I add a helper to do this in another project, https://github.com/san650/tajpado/blob/9e34624bd60251f2163614aaa41555027ff975a4/tests/pages/activity.js#L3-L11

Also, as Juan said, this link has an example http://ember-cli-page-object.js.org/docs/v1.0.x/components#customhelper

Maybe we could add the a keyEvent property action to ember-cli-page-object, What do you think @kmiyashiro

[2016-02-28 18:21] san650 commented on #136
Thanks for the kind words @toranb.

It's really an interesting topic of discussion. Personally, I prefer to implement the nav menu as a page object component and include it on every page that needs it.

We're also discussing how to implement page object extensibility (#109) to DRY this type of definitions so you can implement a base page object that has all the common parts of the application (mai

[2016-02-28 18:35] san650 commented on #132
I think this is a really good question to have in a FAQ in the site, I struggled with this problem in a project I have and the solution was to change the modal library I was using (tooltipster) to append to the application's root element.

Apart from that It would be nice to have an alternative to set the findElement scope for those cases when you don't have control on where the modal/tooltip or w

[2016-02-28 18:48] #126 closed

[2016-02-28 18:55] san650 commented on #106
This is fixed in 1.0

Thanks everyone for all the help!

[2016-02-28 18:55] #106 closed

[2016-03-01 00:41] kmiyashiro commented on #127
@san650 I think adding a keyEvent action would be a good idea, key events are almost as common as clicks when testing apps.

[2016-03-01 00:44] juanazam commented on #127
@kmiyashiro I have thought about adding event actions on every component might be a good idea. `keyEvent`, `blur` and other.

@san650 what do you think?

[2016-03-01 05:41] datajohnny opened #140 "Cannot find module 'silent-error'"
Hi I just, installed the latest version of page-object and when I try to run a generator I got this error:

[code]

[2016-03-01 21:35] jeradg opened #141 "[Docs] Add documentation for `selectable`"
`selectable` is an alias for `fillable`, but that's not mentioned on the docs site.

[2016-03-01 21:35] san650 commented on #140
@datajohnny sorry you had troubles with the addon.

Looking at the stack trace you posted, it seems the problem doesn't relate with ember-cli-page-object but it has to do with ember-simple-auth

`node_modules/ember-simple-auth/blueprints/authenticator/index.js:2:19`

It seems to be a problem with `authenticator` blueprint inside `ember-simple-auth` addon.

Can you check if you can reproduce the er

[2016-03-01 21:38] san650 commented on #141
Can we use the `@alias` tag? http://usejsdoc.org/tags-alias.html

[2016-03-01 21:41] jeradg commented on #141
That's what I was thinking. Don't know what Markdown that results in, but it should be a starting point.

[2016-03-04 15:27] toranb commented on #136
@san650 I looked over #109 and realized it isn't (yet) in master so for now I'll just follow that and watch what lands in master officially :)

I'm really new to adopting this myself but like mixin model (or any extend option you end up with) as I can include modal/ or navigation as needed. Thanks again!

[2016-03-08 03:24] jeradg commented on #45
@irnc: In ember-cli-page-object v1.x, you can now access a node's parent inside a custom descriptor using `Ceibo.parent(this)`.

For example, the `getRoot()` helper uses `Ceibo.parent()` to walk up the page object tree to find the page's root node: https://github.com/san650/ember-cli-page-object/blob/2421e884b71f6e74e66eb4d8754f8456e088297e/test-support/page-object/helpers.js#L235

So if you neede

[2016-03-08 03:24] #45 closed

[2016-03-08 03:32] jeradg commented on #79
@csantero @downie: Your dreams have come true. (At least when it comes to using page objects in component tests!)

ember-cli-page-object v1.1.0 introduces support for using your existing page objects in component integration tests.

See the [v1.1.0 release notes](https://github.com/san650/ember-cli-page-object/releases/tag/v1.1.0) and the new [quickstart guide](http://ember-cli-page-object.js.org/

[2016-03-08 03:32] #79 closed

[2016-03-08 03:34] jeradg commented on #97
@donovan-graham @csantero: As of ember-cli-page-object v1.1.0, you can now use page objects in component integration tests!

See the [v1.1.0 release notes](https://github.com/san650/ember-cli-page-object/releases/tag/v1.1.0) and the new [quickstart guide](http://ember-cli-page-object.js.org/docs/v1.1.x/quickstart) to get started.

*Closed by https://github.com/san650/ember-cli-page-object/pull/99*

[2016-03-08 03:34] #97 closed

[2016-03-08 03:40] jeradg commented on #115
@san650 @juanazam: Regarding the last outstanding to-do, the migration path from `customHelper` s to descriptors:

@juanazam wrote some good documentation for this here: http://ember-cli-page-object.js.org/docs/v1.1.x/components#customhelper

I think it might be good to make this section more prominent and flesh it out more. Also, rather than featuring it in the `components` page, maybe we should

[2016-03-08 04:26] jeradg commented on #100
@san650: Working on this in https://github.com/san650/ember-cli-page-object/pull/145.

I presume we should add the blueprint tests to Travis when they're up and running?

[2016-03-08 04:37] csantero commented on #79
@jeradg Very exciting! Thanks for all your hard work on this - I know this is going to make testing components a lot easier for me.

[2016-03-08 04:45] downie commented on #79
:tada: Excellent! Thanks @jeradg!

[2016-03-08 04:51] jeradg commented on #79
@csantero @downie Looking forward to your feedback! :smile:

[2016-03-08 16:54] jeradg commented on #141
@san650: `@alias` doesn't work, because it overwrites the original name. I found a workaround though. Creating a PR.

[2016-03-08 16:56] jeradg commented on #141
@san650: See https://github.com/san650/ember-cli-page-object/pull/146. I'd be happy to hear your feedback.

[2016-03-09 13:54] #141 closed

[2016-03-09 13:54] lolmaus opened #147 "[feature request] Queries for checkboxes and general jQuery manipulations"
There should be a `.checked()` query that checks the `checked` DOM property of an `<input type="checkbox">`.

Also, @jeradg suggests a more general query useful for asserting custom stuff:

[code]

[2016-03-09 14:36] jeradg commented on #115
Migration guide added in https://github.com/san650/ember-cli-page-object/pull/148.

[2016-03-09 15:51] san650 commented on #100
@jeradg Yes, we should.

[2016-03-09 15:55] san650 commented on #140
Hi @datajohnny, I couldn't reproduce the error. Did you tried what I commented above? Do you still have the same issue?

I'm closing the issue for now, if you still can reproduce the error, please reopen it.

[2016-03-09 15:55] #140 closed

[2016-03-09 19:11] jeradg commented on #115
@san650: Looks like we're done on this issue. Shall we close it?

[2016-03-09 19:41] #115 closed

[2016-03-09 19:43] jeradg commented on #115
:clap:

[2016-03-22 12:22] zeppelin opened #152 "Mention Ceibo dependency"
Upgrading `ember-cli-page-object` may leave users wondering why their app is no longer booting (Ceibo silently became a Bower dependency.)

[2016-03-23 02:42] san650 opened #153 "`Ember.merge` is deprecated, use `Ember.assign`"
This deprecation notice is being thrown when using ember beta and canary.

[2016-03-23 09:41] pangratz commented on #153
Should be fixed by emberjs/data#4250

[2016-03-23 10:26] Sinled opened #154 "selectors and iframe"
Hi, at first thanks for this handy plugin.

I have a small question.
Is it possible to target elements inside iframe via ember-cli-page-object api?

There is wysiwyg editor in my project, it replaces default texatreas with iframes, and i can`t figure how to address them in my page objects.

[2016-03-28 03:05] san650 commented on #154
Hi @Sinled, it isn't... __but__ you can create a page object with custom attributes that read information from the iframe's document.

You'll need to:
1. Get iframe's document
2. Look for elements and extract information
3. Trigger changes

An example:

[code]

This way you could use that page object as follows

[code]

Please, let me know if you find this useful and if it works for you. It might

[2016-03-28 03:15] san650 commented on #152
@zeppelin I've created #157 to tackle this issue. Please, let me know if you think the comment I added is enough or if we need to be more specific about the bower dependency.

[2016-03-28 03:34] san650 opened #158 "Add option to `text` property to avoid text normalization"
In same cases I want to get the exact text that contains an element without the trimming and space normalization we do by default. https://github.com/san650/ember-cli-page-object/blob/754d7a1cd0c6337bb3cd590673b4b215ea3aaee2/test-support/page-object/queries/text.js#L74

It would be great to have a `normalize: false` option to avoid the normalization process

[code]

[2016-03-28 04:44] jeradg commented on #152
@san650: We should probably also add this to the "Installation" page on the docs site (for `v1.0.x` and `v1.1.x`) and to the release notes.

[2016-03-28 04:45] jeradg commented on #158
:+1:

[2016-03-28 06:46] san650 commented on #152
@jeradg that's true, I forgot about that. I'll add that tomorrow

[2016-03-28 23:59] zeppelin commented on #152
@san650 looks great, thanks for adding this to the readme!

[2016-03-29 14:41] #152 closed

[2016-03-30 11:28] Serabe commented on #61
Just happened to me with an app:

[code]

I installed it using `ember install`:

[code]

And tried to use `ember generate ember-cli-page-object` (`eg` is an alias to `ember generate`):

[code]

Let me know if you need any other detail.

[2016-03-30 11:35] Serabe commented on #61
Oh, I created a page object for a component:

[code]

[2016-03-30 11:40] Serabe commented on #61
Solved it: stop the server, remove `bower_components`, `dist`, `node_modules` and `tmp`. Reinstall everything and restart the server.

[2016-03-30 17:20] san650 opened #159 "Use NPM to manage client side dependencies"
We're using bower to handle client dependencies but ember-cli is planning to move away from it.

[2016-03-30 17:44] jeradg commented on #159
@san650 Hahaha. I was going to mention that to you after @stefanpenner's talk.

[2016-03-30 17:45] san650 commented on #61
@Serabe Glad it worked. Maybe we should mention in our release notes and installation notes that you should restart your dev server and test server after the installation in order to reload the dependencies... I'm not sure this is necessary but I can take a look at that.

Also, note that `ember generate ember-cli-page-object` blueprint is used to install the bower dependencies and runs automatical

[2016-03-30 17:46] san650 commented on #159
:wink:

[2016-04-05 14:55] vvscode commented on #153
Is it what we need? https://github.com/san650/ember-cli-page-object/pull/160

[2016-04-05 15:44] san650 commented on #153
@vvscode Yes, and again, thanks for contributing. I left a comment in the PR

[2016-04-05 16:47] vvscode commented on #158
@san650  https://github.com/san650/ember-cli-page-object/pull/161/files

[2016-04-05 17:15] san650 commented on #153
Fixed by #160

[2016-04-05 17:15] #153 closed

[2016-04-05 19:10] san650 commented on #158
Fixed by #161

[2016-04-05 19:10] #158 closed

[2016-04-05 19:11] san650 commented on #158
Thanks @vvscode for contributing!

[2016-04-13 12:30] san650 commented on #159
Fixed by #163

[2016-04-13 12:30] #159 closed

[2016-04-14 17:49] dfreeman commented on #54
@san650 The `{ multiple: true }` option is great for some cases, but I still often find myself wanting to check multiple features at a time of each item in a collection while testing.

Would you consider a PR that adds something like a `toArray()` convenience method on collections? That would allow people to iterate, map, and do whatever else to their heart's content without needing to drastically

[2016-04-14 18:16] san650 commented on #54
@dfreeman It would be great to start adding Enumerable methods to the collection. Right now we only have the `count()` method.

Although a `toArray()` solves all the problems, I would prefer to add `map(function(element) {}): Array` and `mapBy(propName): Array` functions. Right off the top of head I'd say that's what users need most of the time. Maybe we can include a `reduce` function also to tac

[2016-04-14 18:23] san650 commented on #54
Just to complement my prior comment, here's an example of how I imagine people could use the collections:

[code]

Maybe we could start by `toArray()` and then add these other methods as convenience methods that call `toArray` internally.

Methods I would like to have:
* map
* mapBy
* filter
* filterBy

[2016-04-14 18:28] dfreeman commented on #54
I like the idea of `toArray` as an escape hatch and then building commonly-used convenience methods on top of that – I can send a PR your way in the next day or two for that.

Once other thing that might be nice would be defining `Symbol.iterator` (if available in the active environment) to make collections iterable with `for/of` and spreadable with `...`.

[2016-04-14 18:30] san650 commented on #54
Let's go with `toArray` for now and build the other methods later.

That would be cool!

[2016-04-18 23:50] san650 commented on #54
Closed by #164

[2016-04-18 23:50] #54 closed

[2016-04-20 02:19] thomascchen opened #166 "[Site] Component default attribute links are broken"
The links to the default attributes on the component page are broken:
- isVisible
- isHidden
- clickOn
- click
- contains
- text

The path appears to be missing `/docs/*version*` before `/api/predicates/#isvisible`

[2016-04-20 02:36] juanazam commented on #166
@thomascchen you are right, thanks! we will fix this ASAP

[2016-04-20 14:49] juanazam commented on #166
@thomascchen this is fixed, I'm closing this issue!

[2016-04-20 14:49] #166 closed

[2016-04-22 23:19] #36 closed

[2016-04-23 23:09] jeradg commented on #124
@foxnewsnetwork: This should work now in ember-cli-page-object v1.2.0. Can you install the new version and confirm?

[2016-04-24 17:22] #112 closed

[2016-04-24 17:39] #75 closed

[2016-04-24 22:59] #147 closed

[2016-04-24 23:11] jeradg commented on #124
@foxnewsnetwork: Closing this issue. Please reopen if you're still having blueprint troubles.

[2016-04-24 23:11] #124 closed

[2016-04-24 23:13] san650 commented on #100
Fixed by #145

[2016-04-24 23:13] #100 closed

[2016-04-25 15:27] foxnewsnetwork commented on #124
yeah, just tried it out on a new install, things are working :+1:

[2016-04-25 15:32] jeradg commented on #124
@foxnewsnetwork: Great! Thanks for confirming.

[2016-04-26 10:36] DenQ opened #173 "Unknown blueprint: page-object-helper"
Hello.
When I run in terminal:
`ember g page-object-helper login
`

I got an answer:
`Unknown blueprint: page-object-helper`

In file https://github.com/san650/ember-cli-page-object/blob/master/app/blueprints/page-object-helper.js#L1 imported not existing module.

[2016-04-26 16:18] san650 commented on #173
Hi @DenQ , thanks for reporting this error.

The blueprint was removed for the 1.0 but for some reason we didn't delete app/blueprints/page-object-helper.js file. Maybe we can bring it back and make it generate a dummy descriptor. @DenQ @juanazam @jeradg thoughts?

Also, page object helpers are just functions or descriptors if you need more advanced functionalities.

Here's an example of a custom

[2016-04-26 16:20] jeradg commented on #173
@san650: I like the idea of having a generator for properties/actions/descriptors. We could even have a couple of different blueprints for different custom property/action use cases.

[2016-04-26 16:26] juanazam commented on #173
http://ember-cli-page-object.js.org/docs/v1.3.x/migrating#customhelper

I'm :+1: on creating the descriptor blue print.

[2016-04-26 23:03] san650 opened #174 "Addon's file structure"
The project is growing a lot, lot of new properties and each property now has two modes, one for acceptance and another one for integration. The source code is having a lot of repeated code (Codacy is not happy with this!)

So maybe it's time to start thinking about restructuring the internals of the project a bit better to make it easier for people to contribute and for maintainers to, we'll main

[2016-04-26 23:40] jeradg commented on #174
@san650: I agree in principle, except for the testing file structure. What's the thinking behind nesting `integration` and `acceptance` under `unit`?

[2016-04-26 23:58] san650 commented on #174
@jeradg our unit tests aren't so unit by strict definition. We need to create an application before each test so Ember's test helpers are registered in the global context (e.g. `fillIn()`). Right now our "unit" tests test the `acceptance` part of the property but not the `integration` part of it.

I would like to have a test structure that reflects this, I like to call these tests "unit" because w

[2016-05-01 21:28] #6 closed

[2016-05-01 22:17] san650 opened #177 "Error message has an error when a node is a collection"
[code]

When you try to access `page.foo.bar(5).baz.qux` and the element doesn't exist, it shows the wrong path `page.foo.root.baz.qux` in the exception message.

It should show `page.foo.bar(5).baz.qux`.

[2016-05-01 22:27] #177 closed

[2016-05-04 12:50] san650 opened #179 "Add code coverage"
There are some options to add code coverage:
- https://coveralls.io
- https://emberobserver.com/addons/ember-cli-code-coverage
- https://emberobserver.com/addons/ember-cli-blanket

We have ember tests and node tests so we need to cover both but I think the ember part is the most important one.

[2016-05-04 12:54] san650 opened #180 "Enforce ember style guides"
It would be cool to start using something like [ember-suave](https://github.com/dockyard/ember-suave) to enforce a code style guide.

We can discuss here what rules we want to apply.

[2016-05-04 15:52] sohara opened #181 "Feature Request: Enable inheritence of PageObjects via `extend`"
As discussed in https://github.com/san650/ember-cli-page-object/pull/109, it would convenient for developers using this addon if `PageObject` shared a similar API to an `Ember.Object` with respect to allowing a given page object to extend from another page object. This could allow users to easily share code between page objects in a manner similar to that within Ember itself.

Enabling the use of

[2016-05-04 16:27] juanazam commented on #181
@sohara Hi! there are ways to share common code between POs, for example:

[code]

I know this is not the same as inheritance but it may solve some issues. Anyway we need to think a way of doing proper inheritance and implement it.

[2016-05-04 16:58] san650 commented on #181
Definitely, this is a feature to implement in the page objects.

Meanwhile you can do what @juanazam suggested and also things like:

[code]

And from another page

[code]

[2016-05-05 00:47] hidnasio commented on #180
I used the standard preset. Here are the rules https://github.com/dockyard/ember-suave/blob/master/lib/jscsrc.json

[2016-05-05 01:52] #180 closed

[2016-05-17 13:46] dgroverWintac opened #187 "Using `triggerable` and other actions with dynamic segments"
Thanks for this awesome library!

I downloaded one of the recent commits to get access to `triggerable`, and it's working great. I'd love to be able to write a dynamic page object method that leverages all the existing code in `triggerable`.

Here's the sort of thing I'm after:

[code]

and my first attempt:

[code]

but it seems that the included actions aren't just functions, but return objects

[2016-05-17 19:26] nbibler opened #188 "Upgrade ceibo to 2.x"
The 1.1.0 release of ceibo has a `const` defined in it which was [fixed in the 2.x release](https://github.com/san650/ceibo/commit/dc1a9e321eb79e1be2316ab8c08978e87c0cbc93). As such, browsers that don't support `const` cannot load the application in development or test mode.

[2016-05-17 19:27] nbibler opened #189 "Restrict ceibo loading to test mode only"
The `index.js` loads ceibo in non-production environments. However, there's no reason to load it in development mode, as this is a testing library.

[code]

Presumably, `_shouldIncludeFiles` should only be `true` when `this.app.env === 'test'`.

[2016-05-17 20:04] san650 commented on #189
Hi @nbibler, thanks for taking the time to open the issue.

When you run the development server in `development` mode you can run your tests by accessing to http://localhost:4200/tests See http://ember-cli.com/user-guide/#create-a-new-project

Also, take a look at this issue #126 😄

[2016-05-17 20:10] nbibler commented on #189
Hmm.. Thanks for getting back, @san650!

My understanding - which might very well be wrong! - is that accessing `/tests` in Ember CLI's development mode _happens to work_ for now, but isn't necessarily supported behavior.

[2016-05-17 20:11] san650 commented on #188
Hi @nbibler, the addon is using ceibo@2.0.0 since v1.3.0.

Are you having some issues with it? Does the dependencies upgraded correctly when you upgraded ember-cli-page-object to v1.3.0?

[2016-05-17 20:15] san650 commented on #189
@nbibler Didn't know that! Looking at the ember-cli code it looks like an intended feature (one that I use all the time 😄 ) and it's documented on ember-cli's site

Can you point to an ember-cli issue, PR or RFC that explains this?

[2016-05-17 20:16] nbibler commented on #189
I can't! I've been looking. :)

Maybe I'm wrong! It wouldn't be the first time, for sure. I'll reopen this ticket if I happen to come across whatever caused me (us!) to think this was the case.

Thanks again!

[2016-05-17 20:16] #189 closed

[2016-05-17 20:17] nbibler commented on #188
Running `ember install ember-cli-page-object` seems to only update the `package.json` to the latest version (1.3.0). The `bower.json` remains unchanged with `"ceibo": "1.1.0"`.

[2016-05-17 20:20] nbibler commented on #188
Hmm... perhaps the Bower dependency was added by a different addon! I'll investigate and get back to you!

[2016-05-17 20:37] nbibler commented on #188
So, I think a few things might've happened:

The page object library was originally installed at 1.1.0, which installed the ceibo bower dependency at 1.1.0. When upgrading to 1.3.0 of ember-cli-page-object, the blueprint was removed which originally added the bower dependency. However, because the blueprint was removed, nothing cleaned up the ceibo dependency from the bower.json file (whether this

[2016-05-18 14:44] san650 commented on #188
We're not removing the old bower dependency and we should. Maybe we can create a different bug for that.

"Remove Ceibo as bower dependency on upgrade" or something like that. @nbibler can you open that issue?

[2016-05-18 14:44] nbibler commented on #188
I can... I just worry if it will errantly remove a dependency that someone else might've added to Bower. Hard to say if "ceibo" was added for page object or something else after the fact. :-/

[2016-05-18 14:46] nbibler opened #190 "Upgrade leaves ceibo dependency in Bower"
Upgrading from 1.1.0 left the ceibo dependency in the bower.json file. Perhaps this should be removed when upgrading the library now that it's provided via npm.

Related to #188.

[2016-05-18 14:47] #188 closed

[2016-05-18 14:50] san650 commented on #190
Continuing the conversation from #188

It's true, maybe we can print an after install message or something instead of removing the dependency, although I don't believe any project is using Ceibo as a bower dependency.

[2016-05-25 02:06] san650 commented on #187
Hi @dgroverWintac

The `triggerable` function returns a Descriptor, it doesn't fire the action per-se. To execute an action just use Ember's default test helper [`triggerEvent`](http://emberjs.com/api/classes/Ember.Test.html#method_triggerEvent)

[code]

The `return this` allows you to chain calls to other actions.

Hope this helps.

[2016-06-03 15:50] migbar opened #193 "Test failures when running tests from the dummy app"
Tests that require ```ember-template-compiler.js``` fail on ```master``` when I run them from the dummy test app in the browser (as in ```localhost:4200/tests```)

Error message:
```Cannot call `compile` without the template compiler loaded. Please load `ember-template-compiler.js` prior to calling `compile`.```

[code]

All tests pass if I run in test environment (as in ```ember test --server```)

[2016-06-03 16:49] san650 commented on #193
@migbar Shouldn't be a problem to always include the ember-template-compiler file regardless of the environment. I'll take a look at the PR later today.

Thanks for contributing

[2016-06-04 14:01] #193 closed

[2016-06-07 15:12] simonihmig opened #196 "Iterating over collections broken"
It seems I cannot iterate over collections without using an explicit index.

Look at the following example:
[code]

This is the output I get:
![image](https://cloud.githubusercontent.com/assets/1325249/15863082/fa5e0af2-2cd1-11e6-9118-bbc189cfd3ee.png)

The first for-loop is working fine, but there is something broken with the for-of loop: `__meta.key` is `undefined(0)`, and the `[data-test-select

[2016-06-07 20:33] san650 commented on #196
@simonihmig Thanks for the detailed bug reporting, I'll take a look at it later today or tomorrow

[2016-06-11 16:55] san650 commented on #196
@simonihmig I'm working on a fix for this issue, see #197

Can you try to reproduce the error using the `remove-item-property-from-collection` branch?

To use this branch you need to change you package.json like this:

[code]

Thanks!

[2016-06-11 16:59] san650 commented on #187
@dgroverWintac I'm closing this issue as I think you're question was addressed.

If you still have questions about this or think it wasn't addressed, please feel free to reopen it.

Thanks!

[2016-06-11 16:59] #187 closed

[2016-06-12 00:15] ro0gr opened #198 "[Proposal] an ability to interact with dynamically rendered fields"
### The Problem

As far as I can see currently page objects are supposed to work only with static page layouts. I mean you as a developer should define all the possible page fields at the page object's design time.

Let's say you have a fieldset which contains some controls. Each time user changes some dropdown  completely new controls are re-rendered. [Here](https://ember-twiddle.com/51d46fcbca54

[2016-06-12 02:00] san650 commented on #198
Thanks @ro0gr for opening this issue. This is definitely a missing feature that we would like to address.

First of all, I like the solution you're proposing but I'm thinking how to make it even more flexible.

Let me share with you some of my thoughts regarding to this:

For quite some time now I've been thinking what's the best approach to fill lots of fields. Another issue that it's somewhat re

[2016-06-12 12:11] ro0gr commented on #198
@san650 I'm glad you are not opposed to extend an initial API for the actions to support additional param.
Anyway now I'm concerned about the [queries](http://ember-cli-page-object.js.org/docs/v1.4.x/api/queries) and [components](http://ember-cli-page-object.js.org/docs/v1.4.x/components) APIs. There are just getters so it's impossible to pass arguments in it from the test.

So at this point we ha

[2016-06-13 00:32] san650 commented on #198
I'll think a bit more about this, I like you're suggestion about `dynamicComponent` although I would look for a better name 😛

The `dynamicComponent` helper is not hard to implement using the public API, you can start using this in your project today!

[code]

[code]

We should consider adding something like this to the addon, let me think about this a bit more, I would like to do some experiments

[2016-06-13 11:02] simonihmig commented on #196
Thanks for your quick response. I tried that, but unfortunately without success. :(

It seems the collection must have a scope property for that error to appear. I saw that you have a test present with a for-of-loop. I just added some other tests, each with a collection with a scope property, the first with a for-loop, then a for-of-loop and a forEach. The first passes, the other two fail, just as

[2016-06-13 20:13] ro0gr commented on #198
Thank for the guidance @san650. Will keep you informed.
I like an idea to implement a prototype for this as an addon. It will allow me to start use it asap on my real project.
If we satisfied we can always merge it or just throw this idea away if not :innocent:

[2016-06-13 23:03] ro0gr commented on #198
Started working on it [here](https://github.com/ro0gr/ember-cli-page-object-component).

Just the first thought. Can we safely name it a [`component`](https://github.com/ro0gr/ember-cli-page-object-component/blob/master/tests/pages/registration.js#L6)? I know it intercepts with existing components but existing components are pure hashes and this one is a function.

I ask because `dynamicComponent`

[2016-06-13 23:48] san650 commented on #198
@ro0gr That's awesome! It's a really nice way to experiment with new features fast and easy.

We used to have a `component` property in the 0.X branch, we don't have that anymore so I guess it's quite safe to call it component.

I'm ok with that name although it can be confusing for people that want to start using the new addon because we refer to PageObject's nodes as components throughout the pr

[2016-06-13 23:56] san650 commented on #196
@simonihmig It would be great if you could open a PR with the failing tests. Can you rebase your branch with `remove-item-property-from-collection` branch?

I'll try to work on this a bit tomorrow

[2016-06-14 09:29] simonihmig commented on #196
@san650 Added PR. PR target is your `remove-item-property-from-collection` branch, not master, hope that is what your intention was as well!

[2016-06-16 01:12] san650 commented on #196
@simonihmig thanks for the test cases, I've changed a bit how we generate the collection's items when using the iterator. Now it should be working fine.

Can you take a look at the PR? Does it fixes your app?

[2016-06-16 14:49] #196 closed

[2016-06-16 23:31] ro0gr commented on #198
@san650 Thank you for feedback!

Unfortunately I still didn't have a chance to test this approach with a real application. Hope I'll do it next week. Anyway I'm going to cover by tests each corner case which I can imagine to check if everything works seamlessly.

I very like your idea just to add template support for `scope` property and not to extend `options` interface.

-

It's quite funny but

[2016-06-17 15:26] Q2KJordan opened #201 "1.4.0 Changelog documentation missing"
v1.4.0 is published but looking in CHANGELOG.md there's no info available for what's changed from v1.3.0.

[2016-06-17 16:09] juanazam commented on #201
@Q2KJordan have you checked the releases section of the addon? https://github.com/san650/ember-cli-page-object/releases/tag/v1.4.0 we usually write about changes on each release notes.

[2016-06-18 22:08] juanazam commented on #198
@ro0gr thanks for proposing this enhancement, I believe this is great and opens a new way of building Page Objects that can be very handy. I understand this is not the regular case for all applications so I'm :+1: on creating a separate property to handle this. I see that naming this property has become a real pain so here is my proposition.

What we are trying to build here is a component that ca

[2016-06-18 22:22] jeradg commented on #198
I like the name `templatedComponent`, but is it a little verbose? Definitely the most descriptive though.

[2016-06-18 22:33] juanazam commented on #198
If `templatedComponent` is not enough, I think I would go for `templated` 😄

[2016-06-18 23:00] juanazam commented on #105
Hey @richmolj since lots of properties are now included by default on components. Do you think we can close this?

[2016-06-18 23:03] richmolj commented on #105
Yup :+1:

[2016-06-18 23:10] #105 closed

[2016-06-18 23:10] juanazam commented on #154
@Sinled would yo able to get this done with @san650 suggestion? can we close this?

[2016-06-20 08:58] simonihmig commented on #196
Thanks @san650 for the quick fix! I can confirm this works now without any issues! :)

[2016-06-20 12:43] san650 commented on #201
We should update the release checklist so we don't forget to update the changeling.

[2016-06-20 20:20] san650 opened #202 "`visitable` doesn't encode dynamic segments"
e.g.

[code]

The expected behavior is to navigate to `/users/a%2Fuser'` instead of `/users/a/user`

[2016-06-20 20:20] san650 commented on #202
I think we have to `encodeURIComponent` every dynamic segment value

[2016-06-21 15:04] jeradg opened #203 "Add `@since` tags to JSDoc documentation"
We should note what version introduced each feature to the API. This will make it clear to users what works with their version of the addon, and what doesn't.

[2016-06-21 15:11] jeradg opened #204 "Create CONTRIBUTING document"
We're getting a lot of community contributions to the addon, which is fantastic! It would be useful to have a CONTRIBUTING.md document with guidelines for contributors to the project.

This might include:

- What to do if you encounter a bug
- What to do if you have a feature idea
- A checklist of minimum requirements for a PR to be accepted:
    - Test coverage for new and changed features
    -

[2016-06-21 15:13] jeradg opened #205 "Backport `@since` JSDoc tags to previous addon versions' docs"
We may want to add `@since` notations to older versions' API docs, after we add them to the existing codebase. (See https://github.com/san650/ember-cli-page-object/issues/203.)

Questions:

1) Should be bother?
2) If so, what's the best way to approach this?

@san650 @juanazam

[2016-06-22 20:00] samselikoff opened #206 "Page contains text"
Amazing library!

What's the best way for me to do something like

[code]

? I tried

[code]

but got the warning about multiple matches, then tried `multiple: true` but that checks that _every_ matched element contains the text. I want to check that _one_ (or more) matched elements contains the text.

[2016-06-28 15:50] jeradg commented on #206
@samselikoff: One way I can think of would be to create a collection of all elements containing the text, and make sure that the number of matching elements is correct (or greater than 0).

[2016-06-29 17:25] dfreeman opened #207 "`collection` now mutates its input"
It looks as though [this commit](https://github.com/san650/ember-cli-page-object/commit/78fbb2d48370d35ba8f13fcd00ae1d36670a0e91) changed the `collection` helper so that it now deletes keys on its input hash, which broke several of our page objects. Up to 1.4.0, we had been sharing the POJOs for such definitions among related page objects to make it easy to refine e.g. the items in the collection

[2016-06-29 20:12] san650 commented on #207
@dfreeman thanks for the detailed bug report and sorry I broke your page objects 😞 .

As discussed on slack, the idea is that we shouldn't mutate the definition of the page objects, I'm almost sure we're cloning the definitions for `create` but not for `collection`.

[Here](https://github.com/san650/ember-cli-page-object/blob/dbf823cb01cbeeb115e0b0645168718031e59383/addon/collection.js#L206-L214)

[2016-07-01 02:01] san650 commented on #207
@dfreeman can you test #208 in your project to confirm that it fixes all the issues?

[2016-07-01 02:58] san650 commented on #206
@samselikoff @jeradg you can use the `:first` selector to target the whole application.

[code]

I'm almost sure this works with the current version of ember-cli-page-object.

Apart from that, I've opened this PR (#209) to add this behavior by default so if no selector is defined then `:first` is used.

[code]

[2016-07-01 03:14] san650 commented on #206
Just a comment about the auto-generated `contains` property.

There are several properties that are auto-generated for every page object, you can see the list [here](http://ember-cli-page-object.js.org/docs/v1.4.x/components#default-attributes). So just declaring a scope you can use these properties which is nice because it reduces the size of page objects.

An example of this

[code]

You can als

[2016-07-01 19:50] #207 closed

[2016-07-02 01:08] samselikoff commented on #206
Scope is exactly what I needs - thank you!

[2016-07-02 01:08] #206 closed

[2016-07-05 23:28] benshine opened #210 "Document that custom helpers can be used for anything, not just components"
Currently, the only description of writing custom helpers is in the section on components:
http://ember-cli-page-object.js.org/docs/v1.4.x/components#custom-helper

I found out in emberjs slack from @jeradg that "The custom helpers will work in components, page objects, collections, etc."

It would be great if that info were in the actual documentation :)

[2016-07-05 23:53] benshine opened #211 "Serialization of query params in visit not working quite as expected"
Query param serialization is just a tiny bit weird for a particular tricky query param I've got. I wouldn't quite call this a bug, but an example in the documentation would make it clearer how I should be doing it.

Page object is:
[code]

Then I try to visit it with a query param that is a rather nasty serialization. On the controller it's specified as
[code]

which means that the URL in the brow

[2016-07-06 00:54] benshine opened #212 "`contains` documentation specifies text, but is actually selector"
The documentation for `contains` says "Returns a boolean representing whether an element or a set of elements contains the specified text."
but I think it's actually looking for the specified _selector_,

[2016-07-06 00:56] benshine opened #213 "Document the difference between queries and predicates"
The doc has sections for queries and predicates, but it's not clear to me exactly what the difference is. It seems important though. Something about how they are called, maybe?

Some documentation would help here -- or does it already exist and I'm missing it?

[2016-07-06 02:59] benshine commented on #213
I think I understand this now, and I can clarify my confusion, at least:
predicates return a function that must be called. queries simply return data.
If we want to know whether text inside an element with selector `AwesomeLabel` matches some string, we can ask for that in two ways.
1. Query the `text` and then check whether it matches ourselves:       `labelText: text('.AwesomeLabel'),
2. with a

[2016-07-06 15:54] san650 commented on #211
I think this is related to #202

[2016-07-06 15:56] san650 commented on #213
@benshine that's correct, `contains` generates a function you can use to test elements for content. We need to improve the documentations a lot here to make it easy to understand how it works.

[2016-07-06 15:58] san650 commented on #213
Also note that predicates always return `true` / `false` values as opposed to queries which return values from the DOM element (text content, attribute values, etc.).

[2016-07-06 16:01] san650 commented on #212
@benshine we need to improve the documentation.

The idea is that when you define a property on a page object using the `contains` helper, you need to indicate on which element you want to perform the operation, so you use a selector when defining the property. This helper generates a function which receives the text to look for.

So it receives a `selector` string when you declare the property bu

[2016-07-06 16:02] san650 commented on #210
Thanks for the feedback, it's really useful to help us improving the addon.

[2016-07-22 15:07] SaladFork opened #216 "Undefined error when using mocha's `before`"
[code]

Error is thrown at [visitable.js:95](https://github.com/san650/ember-cli-page-object/blob/v1.4.2/addon/actions/visitable.js#L95).

Using:
  * `ember-cli-page-object@1.4.2`
  * `ember-cli-mocha@0.10.4`
  * `ember-mocha-adapter#0.3.1`
  * `mocha#2.5.3`
  * `chai#3.5.0`

[2016-07-22 16:01] san650 commented on #216
Thanks for reporting the error, I'll take a look at it.

I don't use mocha with ember a lot, so I'm not too familiar with what changes when calling `before`. What happens if you call `visit('/foo')` from the `before` hook? Does the ember test helper exists?

[2016-07-22 18:09] SaladFork commented on #216
Thanks for the quick reply! I'm embarrassed I didn't try the global helper myself, seems an obvious test now.

I'm seeing the same issue with trying to use the global `visit` helper. I suspect now this is not an issue with `ember-cli-page-object`.

Any recommendations as to the right project to report this issue?

[2016-07-22 18:09] #216 closed

[2016-07-22 20:47] san650 commented on #216
@SaladFork I would say that you should open an issue in [ember-mocha](https://github.com/switchfly/ember-mocha) rather than opening it in [ember-cli-mocha](https://github.com/switchfly/ember-cli-mocha) to ask if this is a expected behavior or not.

Reading about [Mocha's hooks](http://mochajs.org/#hooks) it kind of make sense that these helpers don't exist on the `before` hook. This is because you

[2016-07-22 21:16] SaladFork commented on #216
Thanks @san650! Unless I'm misunderstanding, a common pattern in Mocha is to nest `describe`/`context` blocks and use `before`/`beforeEach` in nested ones in which case the application would be initialized. For example:
[code]

Thanks again!

[2016-07-25 13:21] san650 opened #218 "Go to source code links are broken in the website"
Each method in the API documentation has a link to the source code, right now those links are broken. See http://ember-cli-page-object.js.org/docs/v1.4.x/api/helpers#getcontext

Expected URL
https://github.com/san650/ember-cli-page-object/blob/f6764e1741c7d2964c1cba26ae375c672ad45d02/addon/helpers.js#L300-L309

Actual URL
http://ember-cli-page-object.js.org/docs/v1.4.x/api/undefined/blob/f6764e174

[2016-07-26 23:20] brancusi opened #219 "Resetting test container"
Hi,

This issue is somewhat of a [duplicate of 132](https://github.com/san650/ember-cli-page-object/issues/132). I am using ember-modal-dialog and it uses ember-worm-hole.

The element that I'm trying to select ends up being outside of the test container and in the body instead.

Was there ever a solution for resetting to a specific container, the last issue said the discussion should continue on

[2016-07-27 01:27] skaterdav85 opened #220 "predicate or query to check if an element is present on the page or not"
Is there a predicate or query that checks if an element is present on the page or not? If not, is it something we can add? I'd be happy to send a PR if you agree.

[2016-07-27 15:49] san650 commented on #219
@brancusi since v1.3.0 there's an option in every page object helper to set a different container.

[code]

This way when you call `page.text`, the page object will search `.a-selector` inside the body instead of the testing container.

See `New testContainer option` in  https://github.com/san650/ember-cli-page-object/releases/tag/v1.3.0

@brancusi Is this what you need? Please, let me know how it

[2016-07-27 15:59] san650 commented on #220
@skaterdav85 we're using `isHidden` predicate to check if something is not visible on the page, this means if the element exists in the DOM but is hidden or if the element doesn't exist in the DOM.

From the user perspective the end result is the same, the user can't see the element, that's why we never had a helper to check if an element exists in the DOM.

That being said, I'm not against adding

[2016-07-27 16:16] juanazam commented on #220
I'm 👍 on having this predicate, I have found myself with this problem a couple of times and thought might be handy to have it.

[2016-07-27 18:39] skaterdav85 commented on #220
@san650 Thanks for the reply! Cool, didn't know that about isHidden. I'm fine with using isHidden then. I'll try and find this in the docs and update that.

[2016-07-27 18:57] #220 closed

[2016-08-01 15:34] san650 commented on #219
Hi @brancusi are you still having issues with this? Did you tried the solution I shared in my previous message?

[2016-08-01 15:41] san650 opened #225 "Parameter order differ between documentation and code"
For some reason when we generate the docs we're having different parameter orders for some functions.

DOC
![screen shot 2016-08-01 at 12 33 26 pm](https://cloud.githubusercontent.com/assets/1234607/17299375/7a8d3ce2-57e4-11e6-8353-e2b10d0a38f7.png)

Function
![screen shot 2016-08-01 at 12 36 18 pm](https://cloud.githubusercontent.com/assets/1234607/17299401/964b6440-57e4-11e6-98e5-f4ecb918f3f2.pn

[2016-08-01 23:44] jeradg commented on #210
@benshine @san650 Time for me to take that Slack wisdom and put it in the repo!

[2016-08-02 17:37] san650 opened #226 "Pause test on error option when running under QUnit"
It would be great to have an option on QUnit to pause the test execution when the page object fails to find an element in the DOM.

We could add a checkbox in QUnit's index.html page so we could activate the feature when that option is selected.

<img width="473" alt="screen shot 2016-08-02 at 2 35 45 pm" src="https://cloud.githubusercontent.com/assets/1234607/17338607/70d8fb0c-58be-11e6-9bd7-3b9b

[2016-08-03 01:47] brancusi commented on #219
HI @san650, we are going to try this now. Sorry for the delay in getting back.

Thank you for the feedback.

Will keep you posted.

[2016-08-03 19:44] san650 commented on #190
ember-cli-test-loader throws a deprecation notice on build, we could do the same.

[code]

[2016-08-03 20:56] brancusi commented on #219
Hi @san650, the test container works, but I still have an issue, most likely nothing to do with page-object, but thought I would ask in case you have a solution.

Basically, it seems that when I have an interactive element mounted into something via wormhole, i.e. a popup menu with some menu buttons, they are somehow all disconnected from their bound actions. In this case, clicking those menu item

[2016-08-03 23:04] san650 commented on #219
If there's nothing odd in the actions it should be working fine I think. Let me try to reproduce this error in an ember-twiddle to understand what's happening.

Personally, having the page objects to play nicely with ember-wormhold is a priority because lot's of people are using it -- it's a very common pattern -- so let's track all the issues!

I'll keep this issue updated with my findings, I'll

[2016-08-03 23:06] san650 commented on #219
@brancusi just a quick question, the tests in question are acceptance tests or component integrations tests?

[2016-08-04 01:52] san650 opened #227 "Adding `.as` method to collection items?"
When testing against several items of a collection, the code can be a bit hard to follow. Maybe adding a new helper, like `.as(...)` could help to group and make it easy to spot what's being tested.

Change this

[code]

to this

[code]

I'm naming the method `.as(...)` but the inspiration comes from the [ruby method `.tap`](http://ruby-doc.org/core-2.2.3/Object.html#method-i-tap).

What do you th

[2016-08-04 02:10] juanazam commented on #227
I think it's worth it 👍

[2016-08-05 01:31] jeradg commented on #218
@san650: Fixed and deployed to the docs site.

However, I'm wondering how the error happened in the first place. I'm especially wondering how it was possible to generate the documentation after the folder structure was changed, moving all of the properties into `addon/-private/properties`. I'm guessing the error occurred during a deploy of the v1.4.0 docs, and then the v1.4.0 docs were just copied

[2016-08-05 01:31] #218 closed

[2016-08-05 01:35] jeradg opened #228 "Update `docs.js` to parse new addon structure"
The addon structure recently changed, moving files into `addon/-private`. The docs generator needs to be updated to correctly parse files in the new structure.

[2016-08-05 01:36] jeradg commented on #228
@san650 @juanazam: Are we OK with having the documentation for every property on a single page? I'm personally OK with that -- I think the old structure was confusing.

[2016-08-05 08:03] Pasikonik opened #229 "integration with Ember Power Select"
Is it possible to use ember-power-select test helper in this addon?
I found this:
https://gist.github.com/migbar/3d961ddb7aaad1588949
but I'm not sure how integrate it with page-object

The EPS helper:
http://www.ember-power-select.com/docs/test-helpers

[2016-08-05 12:58] san650 commented on #229
@Pasikonik you can use the ember-power-select helpers by adding a function to the page object

e.g.
[code]

and in the test you can do

[code]

Note that we're returning `this` in the function to allow chaining of other actions.

That's the simplest integration possible between ember-cli-page-object and ember-power-select. It works but it has some limitations, for example, it doesn't resolve the s

[2016-08-05 13:01] san650 commented on #228
@jeradg YES! that's one of the points I wanted to talk with you and Juan about the site redesign I'm considering.

People had told me that they find it difficult to find what they're are looking for and part of that is because of the grouping.

Thanks for taking care of this!

[2016-08-05 13:02] san650 commented on #218
I broke it 😞  and didn't have the time to fix it accordingly so I just copied the folders. Thanks for taking the time to look into this.

[2016-08-05 15:39] jeradg commented on #228
Good -- that answer is also much easier to implement! :smile:

[2016-08-06 01:18] san650 commented on #174
Done by #222

[2016-08-06 01:18] #174 closed

[2016-08-08 06:00] Pasikonik commented on #229
example works perfectly!
thanks a lot :)

[2016-08-08 11:56] #229 closed

[2016-08-08 14:30] jeradg commented on #226
@juanazam, are you interested? I'm happy to take this on.

[2016-08-09 12:43] fedekau commented on #226
@jeradg Hi! I started looking how to implement this as my first contribution to the project, If you are ok with that I would like to keep working on that :)

[2016-08-13 02:55] jeradg commented on #210
Note (also from a conversation with @benshine on Slack): We also need documentation that you can add plain JS methods to the page object. In those methods, you can refer to the PO with the `this` keyword, return `this` to allow for method chaining, etc.

[2016-08-17 02:46] san650 commented on #25
This will be published with the site redesign. You can also read about this topic here https://wyeworks.com/blog/2016/6/13/using-async-and-await-with-ember-cli-page-object/

[2016-08-17 02:46] #25 closed

[2016-08-17 02:47] san650 commented on #89
This will be released with the new site.

[2016-08-17 02:47] #89 closed

[2016-08-17 03:05] san650 commented on #219
@brancusi please feel free to open the issue again if you're still experiencing problems with this.

[2016-08-17 03:05] #219 closed

[2016-08-18 10:10] Ronald-Gynzy opened #239 "'isVisible' without iterating over collection"
Hi,
Very nice plugin. I have a question. I would like to use the isVisible without iterating over a collection every time. I would like to do something like this.

[code]

Actually it would be nice if it works the same like the `clickOnText()`.

[code]

Just want to check if a selector with a given text, is visible. Is that possible or is there a other way i can do something like this?

Thank you!

[2016-08-18 12:53] juanazam commented on #239
Hi @Ronald-Gynzy,

Lets say that you have a page with with a title with class `main-title`. The simplest way to check that would be:

Definition of PO
[code]

Usage:

[code]

Alternative:

[code]

Usage

[code]

As you can see, we never defined is visible for the main title component in the second definition. The addon automatically include some properties to every component. Documentation can be

[2016-08-20 00:24] #173 closed

[2016-08-22 21:39] mattmcmanus opened #243 "Option to set testContainer on page/component/collection?"
I see that there is support for overriding the `testContainer` on specific items on a page. However, I have several collections/components that show up in a separate `testContainer` and it's making the page object a bit sloppy, and it's impossible to use the `collection` method (as far as I can tell).

Is there a way that you can provide a test container in `create` or `collection` that all subseq

[2016-08-22 23:21] san650 commented on #243
@mattmcmanus it would be really useful indeed.

I'll try to code something next week but if anybody wants to work on this would be great, I can give you some pointers on how to implement it.

[2016-08-29 17:40] aquamme commented on #181
Along the lines of what @juanazam suggested, it would be nice to be able to use that pattern with collections as well. Something like:

[code]

[2016-08-29 18:31] aquamme commented on #181
@juanazam , is that an established pattern? I'm not seeing any documentation that references composing page objects, and I'm having trouble getting it to work.

This works:
[code]
But this does not:
[code]

[2016-08-29 19:24] san650 commented on #181
@aquamme Composing PageObject instances doesn't do what you'll expect so it should be avoided.

In order to share code among several page objects you need to use plain javascript objects

e.g.

[code]

You can also use the ES6 notation to merge objects

[code]

A common pattern would be to define a page object component and export both versions, the plain javascript object and the page object.

[c

[2016-08-31 17:16] Fryie opened #248 "Documentation on custom actions"
The guides describe how to create custom helpers in the section on components, but they only give an example for a getter (query? or what's the appropriate lingo here?). However, they can also be used to create custom actions, see e.g. https://gist.github.com/migbar/3d961ddb7aaad1588949
A key step here (that wasn't clear to me from simply reading the Ceibo docs) is to use the `buildSelector` metho

[2016-09-05 17:38] matisnape opened #250 "XPath support"
I'm currently looking for a framework for ember e2e tests that handles promises without waits and sleeps, but I need XPath support to be able to define more complicated page elements in page objects.
For the tests not to be flaky, I can't use selectors like `nth child` - I rely very much on extracting the text from elements by using helpers like `contains`, `following`, logic operators and node fu

[2016-09-08 20:26] vigpatrick opened #251 "Reference error on basic implementation"
I used the documentation to do a simple test to test the current path. I've generate the file using the cli and import the page into my acceptance test. Every time I run the test they say that visit is undefined.

`// tests/pages/projects.js`
`import {`
`  create,`
`  visitable`
`} from 'ember-cli-page-object';`

`export default create({`
`  visit: visitable('/projects')`
`});`

`// tests/acceptan

[2016-09-08 21:33] san650 commented on #251
@vigpatrick that's strange. What ember, ember-cli and ember-cli-page-object versions are you using?

I've created a quick example on ember-twiddle and seems to be working fine: https://ember-twiddle.com/458b0ed1f5e7554bd95e7e91cad895f6?openFiles=tests.acceptance.hello-test.js%2C&route=%2Fhello

Can you try to create a test like the example? and see if it fails. You can also upload the application

[2016-09-09 17:27] vigpatrick commented on #251
Finally i used your example and it work. I guess i forgot the moduleForAcceptance and my test was not lauched properly.

Thank you even though it was a beginner problem.

[2016-09-09 17:27] #251 closed

[2016-09-09 17:35] san650 commented on #251
@vigpatrick no problem, glad you make it work!

Let us know if you have any question, we're here to help 😃

[2016-09-14 15:23] san650 commented on #179
ember-cli-code-coverage added support for coverage in addons in v0.3.0.

See  kategengler/ember-cli-code-coverage#31

[2016-09-16 14:49] jeradg commented on #228
Working on a PR: https://github.com/san650/ember-cli-page-object/pull/252

[2016-09-17 00:34] juliankmazo commented on #227
Looks pretty useful. Like it

[2016-09-18 03:57] hidnasio opened #253 "Documentation Links to default attributes not working"
Links in component page for default attributes are not working. I'm getting a github 404 page http://ember-cli-page-object.js.org/docs/v1.6.x/api/actions#clickontext

<img width="1280" alt="links not working" src="https://cloud.githubusercontent.com/assets/2262669/18612801/a8356540-7d3a-11e6-8f8e-8bda1ed1c6e0.png">

[2016-09-19 17:52] #253 closed

[2016-09-19 17:52] jeradg commented on #253
Links to properties fixed on the Components and Create pages.

Thanks for reporting this issue @hidnasio!

[2016-09-29 00:05] leizhao4 opened #256 "`triggerable` does not work with native events in integration tests"
I have this Page Object

[code]

and try to trigger `blur` event using

[code]

It works fine if I bind my event listener using jQuery. It does not work if I use plain JavaScript `.addEventListener()`.

[2016-09-29 00:18] san650 opened #257 "CI broken for ember release / beta and canary"
Some recent change in ember broke the build, see https://travis-ci.org/san650/ember-cli-page-object/builds/155224567

The last build on `master` was passing, but failed when I rebuilt it.

[2016-10-01 21:01] hidnasio opened #258 "Documentation 1.6.x is missing collection section"
I couldn't find the collection section in 1.6.x documentation website. In 1.5.x is there.

1.6.x screen shot

<img width="689" alt="screen shot 2016-10-01 at 5 57 49 pm" src="https://cloud.githubusercontent.com/assets/2262669/19016986/daaed0b2-8800-11e6-9f31-026cfbf29a38.png">

1.5.x screen shot
<img width="781" alt="screen shot 2016-10-01 at 5 58 01 pm" src="https://cloud.githubusercontent.com/as

[2016-10-18 17:46] wecc opened #259 "Possibility to read the input value from a fillable()"
Being able to fill and then read the value from an input is a scenario I've met several times during testing and it would be really great if there was a way to be able to do this with just a `fillable()` (or possibly named something else).

The built-in `.fillIn()` and `.value` for components are great but limits the fluid-ness of your code.

Example:

[code]

An existing alternative would be to d

[2016-10-19 04:35] ming-codes commented on #198
ExtJS has this idea of a component query. It's similar to CSS but query against component type and it's attribute value (component attribute, not HTML attribute). I think it's a pretty good idea.

[2016-10-19 10:28] Sinled commented on #154
Sorry, missed response, suggestion worked for me.

[2016-10-19 10:28] #154 closed

[2016-11-01 21:25] san650 opened #260 "Remove `ember-cli-page-object/app/blueprints/` folder"
Blueprints don't generate those files anymore, it seems they aren't needed.

After removing these files it would be nice to test the addon with older versions of ember-cli.

[2016-11-02 16:11] ryanlabouve opened #261 "Link to "Selenium’s wiki page" is broken in docs"
On the main docs page (http://ember-cli-page-object.js.org/docs/v1.6.x/) the link to "Selenium’s wiki page" is broken.

<img width="603" alt="overview" src="https://cloud.githubusercontent.com/assets/1318878/19936846/0ce0e23c-a0ed-11e6-9dd0-60c640206552.png">

I think it is supposed to point to one of these two:
* https://seleniumhq.github.io/docs/best.html#page_object_models
* https://github.com/

[2016-11-02 18:54] san650 commented on #261
@ryanlabouve thanks for finding this, if you can fix the links, it would be awesome :)

Please let me know if you have any questions

[2016-11-03 16:25] ryanlabouve commented on #261
Cool. I'm fairly certain the link is supposed to be https://seleniumhq.github.io/docs/best.html#page_object_models

I'm trying to figure out where the index page of is located. Maybe it's not in this repo?

Side note, very cool with what y'all have done with https://github.com/san650/ember-cli-page-object/blob/master/docs.js

[2016-11-03 17:02] san650 commented on #261
You have to update the `gh-pages` branch which contains the website, the PR need to be against that branch. The file you need to update is https://github.com/san650/ember-cli-page-object/blob/gh-pages/docs/index.html

Also, the link you mention is correct.

Thanks for taking care of this! 😃

[2016-11-03 17:22] san650 commented on #261
@ryanlabouve sorry, I was wrong about what files do we have to update, the correct files to update are

* https://github.com/san650/ember-cli-page-object/blob/gh-pages/docs/v0.11.x/index.md
...
* https://github.com/san650/ember-cli-page-object/blob/gh-pages/docs/v1.5.x/index.md
* https://github.com/san650/ember-cli-page-object/blob/gh-pages/docs/v1.6.x/index.md

I know it's not the best strategy t

[2016-11-03 19:23] san650 commented on #261
Deployed.

Thanks for contributing!

[2016-11-03 19:23] #261 closed

[2016-11-09 10:22] renpinto opened #264 "Add 'forEach' method to collection"
At the moment, collection does not support 'forEach' method.  I have added this and made a new a pull request.
Link:  https://github.com/san650/ember-cli-page-object/pull/263

[2016-11-09 11:29] san650 commented on #264
Thanks for the contribution, I'll take a look at the PR this weekend!

[2016-11-11 13:38] Ronald-Gynzy commented on #239
Thanks for your response! I found out that there is a possibility to collect items with a collections. Those to combined, made it al easier.

[2016-11-11 13:38] #239 closed

[2016-11-13 21:30] #257 closed

[2016-11-17 19:11] Turbo87 commented on #216
@SaladFork Indeed I think you're misunderstanding. The `beforeEach()` block in your example will still be executed twice, once for each test. In fact the nested `before()` block will be executed *before* the outer `beforeEach()` block.

I've taken your example and put some `console.log()` calls inside those blocks and this is the output:

[code]

[2016-11-21 20:42] KirillSuhodolov opened #266 "seems that addon not working with qunit 3 that by default at ember-cli 2.9"

[2016-11-22 13:50] san650 commented on #266
Thanks for opening the issue. I'll take a look at it later today.

[2016-11-23 17:06] KirillSuhodolov commented on #266
@san650 looks like i was wrong. Addon works as expected

[2016-11-23 17:06] #266 closed

[2016-11-23 23:15] #243 closed

[2016-11-23 23:34] san650 commented on #264
Fixed by #263

[2016-11-23 23:34] #264 closed

[2016-11-23 23:42] san650 commented on #226
This will be implemented as a separated addon

[2016-11-23 23:42] #226 closed

[2016-11-23 23:56] #260 closed

[2016-11-24 00:06] #201 closed

[2016-12-05 12:38] zeppelin commented on #258
@hidnasio @san650 it had been moved to under [properties](http://ember-cli-page-object.js.org/docs/v1.6.x/api/properties#collection), or wasn't this the intention?

However, the description is missing, that's for sure.

[2016-12-05 12:56] hidnasio commented on #258
@zeppelin I didn't know that it was under properties, thanks!.

I'll close the issue for now and if the missing of the description is a real issue they can open it again.

[2016-12-05 12:56] #258 closed

[2016-12-08 00:23] simonihmig opened #270 "Integration test example misleading"
I find the example of using ember-cli-page-object with integration tests a bit misleading as it is using a page object rather than a page object component. In the given login page example the page object and the component might match, as the page seems to consist only of that login form. But after using this addon a lot for quite a while, I never had this case. Usually the page contains so much mo

[2016-12-13 21:43] sukima opened #272 "[Feature Request] Add a matchExactly flag to text based properties"
`contains` and `clickOnText` both use text input to find elements and act on them. Currently that textual match will match any subset of the text to search for.

Discussed in the slack channel a possible solution is to add a modifier to say we want to match the exact text instead of a subset.

## Example

[code]

[code]

The above will match *both* buttons.

Alternatively it could look like:

[cod

[2016-12-14 18:49] san650 commented on #270
Hi @simonihmig, sorry for the late response on this issue.

I see what you're saying and I think the problem goes beyond the example and has to do with the fact that we use the name "page object component". That name is misleading because it makes you expect that this "page object component" will behave like a page object when in fact it's just a plain old JavaScript object without any special beh

[2016-12-14 20:11] simonihmig commented on #270
Hey @san650, thanks for your (long) answer! ;)

Yes, I did get the fact that a page object component is at first just a POJO, so I also used `create`. (However did not realize you can call `create` directly on the component rather than wrapping it in another object as I did, was a bit stupid...)

I am not so sure if your approach with the separate exports (default as POJO, named wrapped in `create

[2016-12-14 20:25] san650 commented on #270
I really like this idea. I would like to go in this direction, can we do it for qunit first? We could experiment by doing everything for qunit first, we could support mocha in the future.

Please, start working on this and let us know if you have any question. You can open a WorkInProgress pull request if you want early feedback.

[2016-12-15 08:33] simonihmig commented on #270
Great. Will try to put something (at least a quick spike) together before xmas if time allows! :)

As a mocha user myself, will try to bring this also to the mocha world asap! ;)

[2016-12-19 17:49] trisrael commented on #181
Although the above is great, wondering as to why it does not support the same API for these `subcomponents`.

Using an example from above.
[code]

Trying to use `isVisible` on a subcomponent.
[code]

I believe the `scope` is being applied correctly to the subcomponent, so why do things like `isVisible` not work as well? We have to add our own `isVisible` using the same `scope` selector to get this

[2016-12-19 18:16] san650 commented on #181
@trisrael this looks more like a bug.

For this page object definition

[code]

I would expect that `EntriesPage.sortSelector.isVisible` to generate a selector like:

[code]

If that's not the case, then it's a bug.

@trisrael  Can you confirm this example is not working? Can you open a separate issue if so? I'll try to create a ember-twiddle to test this.

[2016-12-20 12:20] simonihmig commented on #270
Regarding this feature my idea was to override the default component blueprint when a special flag is set, like `ember g component --page-object` so it creates the component, the (modified) component-test and the page-object-component. Without the flag it should run the default blueprint without any modifications.

I asked about this on the -ember-cli Slack channel, but did not get a real answer.

[2016-12-20 16:51] san650 commented on #270
So current options are:
1. Use `ember g component --page-object` but this is doable only by using ember-cli private API
2. A new blueprint `ember g component-with-page-object` (or another name) and from this blueprint call to `ember g component` blueprint (right?). This doesn't need private API calls
3. Override default blueprint and imitate the original but we would have to keep it in sync.
4. Do

[2016-12-20 17:25] simonihmig commented on #270
Sorry, no code yet, was just investigating.

Option 1: There is `Blueprint.lookupBlueprint` (https://github.com/ember-cli/ember-cli/blob/master/lib/models/blueprint.js#L1225-L1232) that is public. But I think when choosing the same name as another one (component in this case) this will override it and we are not able to fetch the overridden one with this API. Then there is `Blueprint.lookup` (http

[2016-12-21 15:51] simonihmig commented on #270
So @san650, what path should we follow? :) I would try Option 3, and maybe switch to Option 1 when there is a way to do so without hitting private APIs. Your opinion?

[2016-12-21 16:02] san650 commented on #270
@simonihmig Agreed, option 3 seems the more viable for now.

[2016-12-21 16:24] juanazam commented on #270
@simonihmig @san650 I have been following this discussion, I think Option 3 might be an overkill for what we are trying to solve here.

It seems the biggest problem we want to tackle is to provide a simple way to create a component integration test (with all the necessary boilerplate code it needs).

All described options solve that, option 1 would rely on private APIs which is not good and option

[2016-12-21 16:35] simonihmig commented on #270
@juanazam Well, again on the maintenance burden: it is 5 lines of code that have to be "maintained", the 4 lines of the component.js blueprint and the one line containing `{{yield}}` of the template. As you can see here (https://github.com/ember-cli/ember-cli-legacy-blueprints/tree/master/blueprints/component), the last change to that was over a year ago. So, I am fine with taking the part of main

[2016-12-21 16:39] san650 commented on #270
What do you think about implementing option 3 and discussing on the PR? So, we can discuss over actual code 😃

[2016-12-21 16:48] simonihmig commented on #270
Makes perfect sense! :)

However unsure if I get to this before xmas, probably in the week after...

[2016-12-21 16:51] san650 commented on #270
No hurries, we really appreciate every contribution and we know most of the people uses his/her spare time to contribute to OSS projects!

[2016-12-21 16:53] juanazam commented on #270
@simonihmig go ahead, thanks for your contribution in advance and merry Christmas 🎄

[2016-12-21 16:54] juanazam commented on #272
@sukima thanks for your request, I will try to work on this soon 😄

[2016-12-21 17:20] trisrael commented on #181
@san650 Hmm very interesting. It does not work locally for me I will check our version of the library :/
But this is the exact case I was describing.

 https://ember-twiddle.com/5d89c5211beb9689add87273149f78d7?fileTreeShown=false&numColumns=2&openFiles=tests.acceptance.my-acceptance-test.js%2Ctemplates.application.hbs

[2016-12-21 19:02] juanazam commented on #181
@trisrael hey, I took a look at that twiddle:

`assert.ok(page.subcomponent.isVisible, 'button is visible');`

That statement is checking that the subcomponent is visible, that is to say an element with selector `.container .my-scope` is visible (and it is).

The `isVisible` property called in this case is generated by default, every component support a number of properties out of the box: http://

[2016-12-21 19:13] trisrael commented on #181
Sorry, I'm not the best at communicating sometimes. It is working in the twiddles as expected.
For some reason in my application at work it does not work as the twiddle.

Likely that it is an issue with being behind on versions of ember-cli-page-object. Thanks for your time!

[2016-12-21 20:00] san650 commented on #181
@trisrael Please, let us know how it goes. If it's a version issue, please post it here so other users that might have the same problem can find an answer here.

Hope you can fix the issue!

[2017-01-19 02:06] sukima commented on #229
This only works for acceptance tests where you have a full application and the async test helpers. integration tests can not use this as far as I can tell.

[2017-01-19 15:17] san650 commented on #229
@sukima can you open a separated issue for this? If I have time today I'll try to find a solution that works on integration tests.

[2017-01-19 18:24] sukima commented on #229
That is what I ended up doing:

[code]

Thanks.

[2017-01-20 19:20] san650 commented on #270
This is fixed by the blueprint that generates a component integration test with a page object component.

[2017-01-20 19:20] #270 closed

[2017-01-20 20:49] hidnasio opened #280 "Add `as` property documentation"
See #227 issue and #279 PR.

[2017-01-20 22:03] #227 closed

[2017-02-21 02:38] JoshSmith commented on #256
Any ideas on this one?

[2017-03-06 00:59] lsthornt opened #288 "Add ability to look up items in a collection via properties other than index"
Use case:
[code]
---

This can currently be solved by using nested PageObjects, a la:
[code]
However there are some drawbacks to this, including the fact that the outer PageObject's scope will not be inherited.

[2017-03-06 05:53] ro0gr commented on #288
https://github.com/san650/ember-cli-page-object/issues/198 related.

[2017-03-22 02:07] leizhao4 commented on #256
@san650 How about switching to [ember-native-dom-helpers](https://github.com/cibernox/ember-native-dom-helpers)?

[2017-03-22 14:07] leizhao4 opened #289 "[Feature Request] Remove jQuery dependency"
Related to #256 but in a broader sense. Since [Ember is going to make jQuery optional](https://github.com/emberjs/rfcs/pull/73), why not we use all vanilla JavaScript instead of relying on jQuery?

[2017-03-27 03:57] san650 commented on #289
@leizhao4 this would be great! I think it could be an objective for the 2.0

I think right now the main dependency with jQuery are the custom jQuery selectors (`:contains`, etc.). We need to come up with a migration plan and start deprecating features that relay on jQuery.

[2017-03-27 15:14] juanazam commented on #289
@san650 rather than deprecating those features, it woud be great to have an optin way of using them if you install jQuery. Thoughts?

[2017-03-29 18:14] backspace commented on #259
What if `value` were one of the [“default attributes” of a component](http://ember-cli-page-object.js.org/docs/v1.8.x/components#default-attributes)? Then you can `fillIn` and check the `value`. The addition of these default attributes is very useful to me and I think this would be even better.

[2017-03-29 18:41] backspace commented on #259
hmm never mind, it’s actually already present! 😬

Maybe I’ll make a PR to add it to the documentation…

[2017-03-30 22:30] #280 closed

[2017-03-30 22:33] san650 commented on #289
We could start reworking the internals to replace jQuery on places where it makes sense first. Like using native events for `triggerable` and `querySelector` and `querySelectorAll`.

[2017-04-04 17:10] robustdj opened #294 "Fillable support for `contenteditable` elements"
If I have a template like:

[code]

It would be nice to use the `fillable` helper to change the value.

[2017-04-04 21:38] magistrula opened #295 "Enable more concise configuration of top-level properties that abstract component details"
I really like organizing page objects in terms of components because I think doing so helps to make page objects coherent and well-organized, but it can lead to tests that are tightly coupled to the page structure.

Instead of writing tests that look like this:
[code]
I'd like to write tests that look like this:
[code]
Currently, this is how I'd set up my page objects if I want to write tests as s

[2017-04-05 23:23] san650 commented on #295
@magistrula I really like the `pipe` and `alias` operators, I think they could be a really nice addition to the add-on.

I would love to understand a bit more how the `pipe` operator would behave, in your previous example I see that the function returned by `pipe` receives the argument for `form.input.fillIn`... What would be the exact behavior for this operator? What will happen if you use action

[2017-04-06 14:24] simonihmig commented on #295
Allow me to chime in here...

I very much like the idea of the `alias` helper. We use the page object components most of the time also for all component integration tests (that's were the need of the component-test blueprint I contributed a while ago came from). But when reusing these components for the top level page objects within acceptance tests, we end up in a similar situation, having the ne

[2017-04-07 23:50] san650 commented on #295
@magistrula I think this issue has grown too much and is difficult to discuss over each property separately. There are some of the suggested properties that could be added without too much discussion (`every`, `none`) and some of them that need more discussions and examples of what they do and how they behave, e.g. How do you use `conditional-alias`?

What do you think? If it's too much work, let

[2017-04-08 00:12] leizhao4 opened #297 "`testContainer` in `collection` is not copied into `item`"
For this page object:
[code]

- `page.myItems().count` returns the correct count of items. However,
- `page.myItems(2).isVisible` returns `false` although there's more than 3 items.
- `page.myItems(2).click` throws error `Element not found`.

Possible cause is that `testContainer` in `collection` is not copied into `item` correctly.

Workaround: Add the same `testContainer` to `item`.

[code]

[2017-04-08 02:05] #297 closed

[2017-04-08 06:03] magistrula opened #299 "Add `none` helper"
Given the following test...
[code]
It may be helpful for the PageObject to define what it means for the Roster to be "empty" so that the tests don't have to check each individual criterion, and so that these criteria do not need to be repeated every time we need to check whether the roster is empty. A `none` helper would be useful in this case:
[code]
This would allow the test above to be rewritte

[2017-04-08 06:21] magistrula commented on #295
Sounds good, @san650; I'll open separate issues for each proposed helper.

[2017-04-12 03:11] magistrula opened #300 "Add `every` helper"
Given the following test...
[code]
It may be helpful for the PageObject to define what it means for all parts of the form to be disabled so that the tests don't have to check each individual criterion, and so that these criteria do not need to be repeated every time we need to check whether the UI is disabled. An `every` helper would be useful in this case:
[code]
This would allow the test above t

[2017-04-14 21:59] san650 commented on #295
Now that `alias` is merged (see #296), I'll close this issue in favor of individual issues for each helper.

[2017-04-14 21:59] #295 closed

[2017-04-19 03:03] san650 commented on #294
Implemented in #301

[2017-04-19 03:03] #294 closed

[2017-04-20 13:52] Leooo opened #304 "new Ember.Error in better-error not logging the message in the console"
using Ember 2.10.2, on Chrome

https://github.com/san650/ember-cli-page-object/blob/master/addon/-private/better-errors.js#L22

the message is not logged in the console

add a `console.error` call before the error to make sure it is logged?

[2017-04-20 14:00] san650 commented on #304
What's strange is that errors were being logged before, so something changed (in Ember?) that makes this error not to be logged anymore.

I remember that was a change in how backburner reported exceptions when env was testing, see https://github.com/emberjs/ember.js/pull/14898. Maybe is related to that.

Having the exception in the console is super useful so I think we should log it ourself if it'

[2017-04-24 03:20] jeradg commented on #228
Closed (a while ago!) by #252.

[2017-04-24 03:20] #228 closed

[2017-05-04 15:47] #304 closed

[2017-05-15 20:14] marpo60 opened #308 "v1.9.0 and v1.10.0 not working on Ember Twiddle"
Hey friends!

I just hit this bug in Ember Twiddle.

![image](https://cloud.githubusercontent.com/assets/952074/26077132/6433ce22-3991-11e7-8921-18580efc5f43.png)

I think this change that is part of this (https://github.com/san650/ember-cli-page-object/commit/0dedfd288174c159d554cf5a7de3bc402ec228b6) could be related :
[code]

Seems that `this.app.tests` is empty on ember-twiddle

[2017-05-15 20:35] san650 commented on #308
In the past, we used to check for the env directly instead of that var. Maybe we need to go back to that implementation.

[2017-05-17 19:31] YoranBrondsema opened #309 "Does not work with async/await"
I'm trying to get the addon to work with [ember-native-dom-helpers](https://github.com/cibernox/ember-native-dom-helpers) in component integration tests. When doing something like

[code]

it fails at [this line](https://github.com/san650/ember-cli-page-object/blob/master/addon/-private/dsl.js#L15) because the `wait()` helper is not defined as a global in component integration tests. I tried fiddl

[2017-05-17 19:41] YoranBrondsema commented on #309
Nevermind, I think I found a solution, see https://github.com/san650/ember-cli-page-object/pull/310.

[2017-05-18 01:16] san650 commented on #309
@YoranBrondsema thanks for filing the issue. The error is a bit strange, can you post here the page object definition you're using?

Also, just to have a bit more context, it would be great to have a snippet of the test file you used.

[2017-05-18 12:00] YoranBrondsema commented on #309
@san650 I'll try to set up a minimum Ember app that reproduces the issue later today. I think that'll be easiest!

[2017-05-19 13:22] YoranBrondsema commented on #309
@san650 Here it is: https://github.com/YoranBrondsema/ember-cli-page-object-issue-309. Run `ember s` and in `localhost:4200/tests` the test `Integration | Component | some component` should fail with the same error that I'm getting in my app.

I think the bug occurs because in "normal" non-async/await tests, the `wait` is manually imported (as described in the guide https://guides.emberjs.com/v2.1

[2017-05-19 17:42] knownasilya opened #311 "Use native-dom-helpers internally"
https://github.com/cibernox/ember-native-dom-helpers

Relates to #256 and #289

Leaving this as a placeholder.
cc @san650 @cibernox

[2017-05-19 19:39] kriswill opened #312 "Ability to send keypress events to component element"
Hi, I have the need to drive an ember-power-select component during acceptance tests, to simulate it's fuzzy searching capabilities.  Using the `triggerable` property is very cumbersome, and it's input element doesn't respond to simple fillable value changes.

Ideally, I would like to do something like this:

[code]
from the acceptance test:
[code]
using the `keypress` property would send keypress

[2017-05-23 01:34] san650 commented on #311
Thanks @knownasilya for opening this issue.

[2017-05-23 01:38] san650 commented on #309
Thanks @YoranBrondsema for the detailed info. It really helps me to understand the issue.

I'll try to go over your PR next weekend to ensure it works with all the Ember versions we support.

[2017-05-23 01:44] san650 commented on #308
Let's keep this issue open to track joostdevries/twiddle-backend#28 and wait for it to be merged.

Thanks @marpo60 for tackling this issue.

[2017-05-23 02:15] #179 closed

[2017-05-24 13:45] Yathi opened #314 "Select link on the component page points to a 404"
The `Select` link under Default Attributes on http://ember-cli-page-object.js.org/docs/v1.8.x/components leads to a 404 page.

[2017-05-24 17:18] jeradg commented on #314
Thanks Yathi. I'll take a look.

[2017-05-24 19:11] jeradg opened #315 "Add tests for documentation generation"
There are outstanding problems with the `docs.js` documentation generator. Currently, debugging these issues is painful. We need some tests to make sure that the documentation generator is producing the expected output.

[2017-05-29 09:50] GCorbel commented on #309
I have an issue that seems to be similar. When I have an `async/await` function I have this error :

    Assertion Failed: You have turned on testing mode, which disabled the run-loop's autorun. You will need to wrap any code with asynchronous side-effects in a run

@YoranBrondsema fix doesn't seems to work.

The issue I have is describe more in detail [here](https://github.com/emberjs/rfcs/issues

[2017-05-29 12:28] YoranBrondsema commented on #309
@GCorbel Is that your entire test? And is it an acceptance test or component integration test?

[2017-06-10 15:24] san650 commented on #309
Fixed by #310

[2017-06-10 15:24] #309 closed

[2017-06-29 17:58] ming-codes commented on #311
Well, just say the words on how you like to proceed. I'm sure there are people that like to contribute.

[2017-06-30 12:07] stephanebruckert opened #319 "The option '--page-object' is not registered"
$ ember install ember-cli-page-object

Doing so as mentioned in the README:

    ✗ ember g component my-component --page-object

But getting

Why?

[2017-07-05 14:24] san650 opened #320 "test failing with ember@canary in local development"
I see tons of errors like this only with ember@canary.

[code]

travis-ci doesn't fail which makes the error more weird. See https://travis-ci.org/san650/ember-cli-page-object/builds/249460658

[2017-07-05 15:09] simonihmig commented on #320
@san650 Had a quick try with this, to see if I can reproduce, and indeed on machine I get the same errors! 😢

[2017-07-05 15:49] san650 commented on #320
@simonihmig thanks for confirming this. I'll try to triage the issue with ember and ember-cli issues to see if someone else is having the same problem.

[2017-07-19 13:23] ghost opened #322 "Addon not raising the correct error when not initialising the page object."
Page object:
[code]

Test:
[code]

In this case, i forgot to initialise the Page object inside the `moduleForComponent`. This should have been.

[code]

The error thrown by the test, leaded me the wrong way.

The above thrown error, lead me searching inside the Page Object for the solution. Instead, i had to initialise the Page Object inside the test.

Suggestion:
Better error message for this, an

[2017-07-19 15:58] sukima commented on #322
Confused, Does this already take place: https://github.com/san650/ember-cli-page-object/blob/master/addon/-private/context.js#L20-L25

Why didn't the above code that is missing the context not throw this error?!

[2017-07-19 16:01] sukima commented on #322
@Ronald-Gynzy you used `this.render(…)` **not** `pageObject.render(…)` and there for that is why things went way wrong.

@san650 This is **not** a bug because [the code *does* work as intended](https://github.com/san650/ember-cli-page-object/blob/master/addon/-private/context.js#L20-L25). The problem is that the page object was never used to render the component.

[2017-07-19 16:02] san650 commented on #322
@sukima Thanks for bringing this up. Using the page object's render function is optional. You can use test's `this.render` function.

[2017-07-19 16:05] san650 commented on #322
Expanding my above answer: We added `component.render` function to allow people to chain calls as we do with other parts of the page-object. But that doesn't mean that you _have_ to use it, you can still use the regular `this.render` function.

I think we could add a better error message to help users fix the problem.

[2017-07-19 21:14] Ronald-Gynzy commented on #322
@sukima Never knew about the opportunity to use `pageObject.render(...)`. Thanks for mentioning.

[2017-08-01 09:44] YoranBrondsema commented on #220
I found myself needing this to detect the presence of a meta-tag. For a meta-tag, `is(':visible')` always returns `false`. I added an `exists` property in PR #323.

[2017-08-11 09:30] simonihmig commented on #311
Would also love to see this. Currently using `e-c-p-o` is the only reason we cannot drop jQuery from a new app we started with... 😥

One thing to keep in mind: all `e-n-d-h` helpers that trigger an event will return a promise (basically returning `wait()`), now usually used with `await`. This allows to get rid of some `wait()` / `andThen()` calls in the test itself, which is nice.

But for this to

[2017-08-11 11:35] knownasilya commented on #311
You could still keep chainability, you'd just need to change the API to have an explicit method on the end to return the promise.

[2017-08-12 01:01] san650 commented on #311
@simonihmig

Since the beginning we made that all `e-c-p-o` nodes to _behave like a promise_ so you can use `await` (or `.then`) with actions.

All the following are supported right now

[code]

This is because of this

https://github.com/san650/ember-cli-page-object/blob/88fad42f23837020f40ffe57bfa2c56169aba39f/addon/-private/dsl.js#L12-L17

and this

https://github.com/san650/ember-cli-page-obje

[2017-08-12 01:04] san650 commented on #311
One approach we want to take is to make jQuery a direct dependency of this addon and only include it in tests, allowing users not to include jQuery on their app bundle. Removing jQuery entirely from the addon will require a lot of effort and break existing features... but we'll do it eventually.

We want to start this migration by replacing the events first by using native-dom-helpers addon.

[2017-08-12 07:21] simonihmig commented on #311
Oh, didn't know, that's brilliant!

Not so sure about this one. Initially also thought about this approach when getting rid of jQuery from ember-bootstrap, because refactoring all the tests seemed to be most of the work. But you end up testing your code in a environment that is substantially different than production, so if you still have some jQuery usage left over, this will still work in tests,

[2017-08-18 18:15] dadleyy commented on #288
I didn't want to make a completely separate issue for this, but I was wondering if it would be niceto have collections be able to receive a list of indices to return:

[code]

[2017-08-20 10:36] ro0gr commented on #311
on the same boat

I've tried:
[code]

[code]

It makes `Ember.$` an undefined. Also `import $ from 'jquery'` works. Working on a pr currently

[2017-08-25 20:09] bdiz opened #326 "How to write a page object that clicks specific index?"
I'm trying to define a page object method that will allow me to click a specific element of the selection.

[code]
And then later in my test I could do:

`page.clickSpecificElement(3);`

Is this not the way? Presumably not, since it's not working. :)

Thanks. Love the tool by the way.

[2017-08-27 01:02] san650 commented on #326
You have to use a collection for that

[code]

and then you can use it like this

[code]

You can get more info about collections here http://ember-cli-page-object.js.org/docs/v1.8.x/api/collection

[2017-08-27 01:02] #326 closed

[2017-08-29 15:09] QuantumInformation commented on #250
You could try my [test recorder ](chrome.google.com/webstore/detail/test-recorder/mehbmedddkpilcbbjcichiopegameghh)which will generate the paths.

[2017-08-31 07:24] matisnape commented on #250
@QuantumInformation thanks, but I know how to find paths, I'd just like to make them less brittle and no recorder will help me with this if xPath is not supported :)

[2017-08-31 08:28] QuantumInformation commented on #250
Whats the attraction with XPath, first time I've heard that css selectors weren't up to the task.)

[2017-10-16 06:20] ming-codes commented on #289
Would it be possible to configure jQuery as a “dev” dependency that’s only used in testing? That fulfills the requirement that we’re not shipping jQuery to production while still be able to use jQuery in tests.

[2017-10-16 08:12] ro0gr commented on #289
@ming-codes when you enable jQuery then Ember will immediately setup `Ember.$`.
It's also possible to get [conflicts](https://github.com/san650/ember-cli-page-object/pull/325#issuecomment-333308426) with jQuery plugins. if they occasionally remained in your app.
Then when you disable jQuery for prod mode it would be impropely(I believe so) tested app.

If you are interested in reliable jQuery-less

[2017-10-21 01:03] ming-codes opened #335 "Selector scope concatenation does not work with comma selector"
[code]

Expected: `.level-1 .one, .level-1 .two`

Actual: `.level-1 .one, .two`

[2017-11-01 02:25] dodeja commented on #288
@lsthornt Interesting. How does this work with component integration tests?

[2017-11-02 00:38] pzuraq opened #337 "Appears to break when included in nested addons"
It appears that the inclusion strategy in `treeFor` doesn't work when included in nested addons. I haven't been able to figure out exactly why, but I can't seem to get the correct context from anywhere.

We could switch to using a similar strategy to [ember-native-dom-helpers](https://github.com/cibernox/ember-native-dom-helpers/blob/master/index.js#L7) to provide the same external API, but not de

[2017-11-14 08:45] ro0gr commented on #337
Do I understand correctly that you need to be able to access `ember-cli-page-object` without an explicit dependency on it in a `package.json`?

[2017-11-14 12:15] #337 closed

[2017-11-14 12:47] san650 commented on #335
Thanks for opening the issue (and the PR).

We never intended to support multiple selectors (group). We feel it makes the page object harder to reason about and it can be easily avoided by using `data-test-*` selectors or a custom css selector.

Adding support for this would also make the selector logic more complex which is something we're trying to avoid.

[2017-11-14 12:47] #335 closed

[2017-11-15 04:59] ro0gr commented on #311
@san650 just published [v1.13.0-alpha.1](https://github.com/san650/ember-cli-page-object/releases/tag/v1.13.0-alpha.1) which includes native-dom-helpers support.
Feel free to test and report.

Docs in progress #334

[2017-11-15 12:29] henryw14 commented on #181
I'd love to help on this issue and am curious on your direction. Let me show you the number of ways I'm using inheritance/extension.

I'm exporting pages as POJOs and achieving composition with a custom extend function all over the place in an addon of mine
[code]
For the sake of this discussion, imagine you write an addon where you wrap all form elements in a common label + element structure to m

[2017-11-15 12:41] henryw14 commented on #181
While not really having looked at this code base, my initial thought on the matter would be to allow page objects to be passed to the `create` function (both as the obj and as nested properties). Each node could keep track of the pojo that was passed to it (`page.params` for the sake of discussion) and simply extend the pojo in the jquery sort of way as mentioned above:

[code]

[2017-11-15 13:03] henryw14 opened #341 "isVisible when working with collections expects scope"
I have a page object
[code]
Then I go to use, in a context when no error messages are visible: `page.errorMessages().isVisible` which returns true.

The created selector in the find in the is-visible.js is only `".top-level"` which returns an element and that element is visible (aka has no care for my items)

Which really leads to the question: is this the expected behavior? I would have expected

[2017-11-15 13:33] san650 commented on #341
`page.errorMessages().isVisible` checks that the element `.top-level` exists. That's because you didn't select any child item, so it checks for the "container".

To check if a specific element is visible, you have to do `page.errorMessages(0).isVisible`.

If you want to check how many children are rendered in the page (visible or not) you can do `page.errorMessages().count`.

That would be really

[2017-11-15 13:33] #341 closed

[2017-11-17 17:31] san650 commented on #190
This issue doesn't make sense anymore.

[2017-11-17 17:31] #190 closed

[2017-11-17 17:55] #311 closed

[2017-11-17 17:57] san650 commented on #256
You can now use the native-dom-helpers, see https://github.com/san650/ember-cli-page-object/releases/tag/v1.13.0-alpha.1

This is an alpha release, please, report any issue you find.

[2017-11-17 17:57] #256 closed

[2017-11-17 18:00] san650 commented on #202
Fixed by #342

[2017-11-17 18:00] #202 closed

[2017-11-17 20:37] JoshSmith commented on #256
Seeing `v.1.13` is giving me flashbacks, but 💯  regardless.

[2017-11-17 20:52] san650 commented on #319
@stephanebruckert we're removing this blueprint because it was difficult to maintain. This blueprint is a good candidate to be its own ember addon.

If anyone wants to create a new ember addon with it, here's the code:
 https://github.com/san650/ember-cli-page-object/pull/274/files

[2017-11-17 20:52] #319 closed

[2017-11-17 23:14] #320 closed

[2017-11-18 00:48] ro0gr opened #344 "v1 deprecations"
We need a place to plan deprecations:

- [multiple selectors (group)](https://github.com/san650/ember-cli-page-object/issues/335#issuecomment-344248732)

[2017-11-18 00:51] ro0gr commented on #344
I would like to consider `page.render()` to be deprecated.

Are there any benefits of `page.render()` vs `htmlbars-inline-precompile`?

[2017-11-18 17:34] pzuraq commented on #288
I think this could actually more safely be accomplished by allowing collections to query the page objects of the items in the collections themselves, rather than directly querying the items:

[code]

This way you aren't breaking encapsulation, the item in the collection gets to define it's own content and values you can search. It could be a completely separate component definition, and you would

[2017-12-15 23:58] pzuraq opened #352 "New Collection API RFC"
After revisiting #347 I realized that there's a lot going on in that PR and I wanted to clarify the design and intent behind it. The proposal is ultimately a major departure from the existing `collection` API and I think it would be good to discuss it in a semi-RFC like manner.

## Motivation

The current collection API is somewhat difficult to work with for two main reasons:

1. It breaks the men

[2017-12-16 23:49] ro0gr commented on #352
I like `item`less collections proposal. I think it can really improve learn-ability.

However it'd prefer to keep backward compatibility. It shouldn't cost to much to leave an `itemScope` support in the `collections` API.

[2017-12-17 00:00] ro0gr commented on #352
This part of proposal is much less obvious to me:
[code]

In my opinion the current way to access an item(`.items(0)`) is much more closer to what I'd really like to write:
[code]

[2017-12-17 00:07] pzuraq commented on #352
I can definitely get behind making `itemScope` an alias for `scope` to ease transitioning, I don’t think that property would be used for anything else commonly. `item`less collections would still be breaking in other ways, unfortunately I don’t think there’s a way for us to truly maintain full backwards compat, but we can definitely make it easier (and I’d be up for writing a codemod!)

The main r

[2017-12-17 00:10] pzuraq commented on #352
We could also consider using [proxies](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) for the array wrapper as well to make it work just like a native array, but we wouldn’t be able to support IE11 that way 😕

[2017-12-17 00:10] ro0gr opened #353 "ember-cli-addon-docs"
I like an idea to leave documentation concerns to another cool community tool.

https://ember-learn.github.io/ember-cli-addon-docs/

From the main page:

[2017-12-17 18:50] magistrula commented on #352
1. I like your point about bringing `collection` in line with the mental model we're operating under everywhere else in the page object. One result of having `scope` live inside the item definition is that this will be possible:
[code]
Instead of this, which is what you currently have to do:
[code]

2. I think it makes sense for changes to `collection` to go into `v3`. That way, continued discussi

[2017-12-18 14:03] marpo60 commented on #308
https://github.com/joostdevries/twiddle-backend/pull/28 was merged into master :)

I will re visit this soon. Hopefully this issue is not longer happening.

[2017-12-18 17:37] pzuraq commented on #352
1. I think that example is great, exactly summarizes some of the consistency `item`less collections would bring to writing page objects!

2. I agree that pushing back these changes to v3 is probably for the best. I know we wanted to push for native support by default in v2, and in general catch up to the changes in ember-cli-test-helpers and such. I'm divided on whether or not we should introduce

[2017-12-18 20:10] ro0gr commented on #352
Actually I would like to see `item`less collections API rather sooner then later, if we find out a way to keep backward compat of course.

I think we are far enough from v2 release yet. We don't have anything breaking at the plate.
The list [to be deprecated](https://github.com/san650/ember-cli-page-object/issues/344) is also not complete. So I think we could afford ourselves to break the world a

[2017-12-18 20:14] ro0gr commented on #353
Sorry. Not this time.

According to https://github.com/ember-learn/ember-cli-addon-docs/issues/2 versioned docs is not implemented yet

[2017-12-19 00:12] pzuraq commented on #352
I think we could mark `item` and `itemScope` special fields that opt you back into the old API, as long as they are required together. I think it's very unlikely that people would want to use both keys together and not want the old API. It does seems like a bit of an ugly architectural decision, but it would also be the only option so far where users could transition one collection at a time, allo

[2017-12-19 14:40] BobrImperator opened #354 "Does not work with async/await - reopen of #309"
Reopening #309

My package.json
[code]
and I am using the same workaround as in mentioned issue.

[2017-12-19 21:51] ro0gr commented on #354
@BobrImperator do you have your failure in acceptance or integration test? I ask this cause I think we have an issue here https://github.com/san650/ember-cli-page-object/blob/57183487aa9a8446861f4fbc52c03dbc02eeb1e6/addon/-private/execution_context/acceptance.js#L24
I think we should use `wait` from the `ember-test-helpers` here..

Also might be helpful to know if you use `nativeEvents` mode?

[2017-12-19 23:24] BobrImperator commented on #354
It happens on integration test, and I'm not using  nativeEvents mode, at least I think I'm not, I wasn't doing any customizations.

[2017-12-21 11:57] san650 commented on #308
@marpo60 that would be great, thanks!

[2017-12-22 18:56] bendemboski opened #355 "Support new QUnit modules "acceptance testing""
Using the new QUnit modules API, "acceptance tests" (which aren't exactly a thing anymore) don't register the global test helpers `visit`, `click`, etc. Instead such tests import the helpers explicitly from `ember-test-helpers`. Here's the blueprint:

[code]

Currently we can't use a page objects because in acceptance test mode, the helpers are unavailable.

[2017-12-22 19:04] bendemboski commented on #355
I looked into just modifying the existing acceptance context to use them, but `ember-test-helpers`'s helpers all rely on [getElement()](https://github.com/emberjs/ember-test-helpers/blob/master/addon-test-support/%40ember/test-helpers/dom/-get-element.js#L3) which doesn't accept a second context parameter (meaning none of the helpers do). Instead it uses the test context's element, which AFAIK is

[2017-12-22 20:38] san650 commented on #355
We need to start a conversation with the people behind `ember-test-helpers` to extend their helpers to receive an optional `context` param to override the use of the application roots element as the context.

https://github.com/emberjs/ember-test-helpers/blob/4fbc32f53c221cc4ac709ae9b99095197d6e3282/addon-test-support/%40ember/test-helpers/dom/-get-element.js#L12

The big problem we have to solve

[2017-12-22 22:38] bendemboski commented on #355
@san650 I had a chat @rwjblue this morning and think I understand how to achieve this. In a nutshell, we should just use DOM APIs for finding elements, and then pass those elements (instead of selectors) to the test helpers. I should have a PR to illustrate the direction later today.

[2017-12-24 06:56] bendemboski commented on #355
I've run into a bit of a collision between existing `ember-cli-page-object` chaining syntax and the new test helpers. Kinda the main point of the new test helpers is to supply a consistent API across all kinds of tests, so acceptance and integration tests don't interact with the DOM in such syntactically different ways (in fact the distinction between acceptance and integration tests doesn't reall

[2017-12-24 15:02] magistrula commented on #355
Just to throw out another option:

5. In acceptance tests, allow an options hash to be passed into `ember-cli-page-object` helpers that specifies whether the helper should call `settled` or not, with the default being the current behavior, that `settled` **is** called.
[code]

[code]

[2017-12-24 16:41] bendemboski commented on #355
Yeah, that would work too. My personal preference would be to make waiting opt-in rather than opt-out because that's the way the new test API works. For example, I'd prefer to see

[code]

be the equivalent of

[code]

rather than

[code]

or the equivalent

[code]

and I'm not sure how to implement the chaining syntax/behavior you describe without also forcing this departure from the normal test

[2017-12-26 21:58] ro0gr commented on #355
First of all I'm very excited to have new testing API support in `ember-cli-page-object`!

@bendemboski I think there is one more option to consider. It could potentially allow us to have a better backward compatibility story.

What if we implement a new execution context using new test helpers and with the `runAsync` implemented like:
[code]
This way async helpers(`clickOnText`, `fillable`, etc)

[2017-12-26 22:02] ro0gr commented on #354
@BobrImperator I think the fix should be trivial. However it would be better to have a minimal reproduction. Can you please provide a demo app?

[2017-12-27 07:07] bendemboski commented on #355
@ro0gr unfortunately that wouldn't allow chaining because the return value of the chainable calls would be a promise rather than the original tree node (even though it would resolve to the original tree node).

I've put some more careful thought into this, and here's my analysis.

## The problem

I don't know of a way to maintain the current chaining async behavior _and_ reflect the new test API's

[2017-12-27 07:15] bendemboski commented on #355
BTW, if anybody's interested, [here](https://github.com/san650/ember-cli-page-object/compare/master...bendemboski:rfc268)'s my branch with all the changes to support the new testing API, but without changes to support or pull support for chaining (so all the new-test-api chaining unit tests are failing), and [here](https://github.com/san650/ember-cli-page-object/compare/master...bendemboski:rfc268

[2017-12-27 13:22] juanazam commented on #355
When we first implemented chaining, it was a way of simplifying testing code to make it more readable and compact. Until this point, it hasn't been a lot of effort to keep it working version through version.

When we separated execution into contexts (acceptance and integration) we knew that at some point the work we had done would be included in the new ember testing solution.

I think the cost o

[2017-12-27 23:17] bendemboski commented on #355
PR: https://github.com/san650/ember-cli-page-object/pull/356

[2017-12-28 15:33] BobrImperator commented on #354
Sorry for late response, here is dummy app.
I've created two commits, one with error setup, and second with error repair.
But literally all that is sufficient to get error ``window.wait is not a function`` is to get rid of beforeEach hook inside moduleForComponent

[2017-12-28 20:34] san650 commented on #354
@BobrImperator the link is missing, I guess the dummy app is https://github.com/BobrImperator/page-object-dummy

[2017-12-28 21:54] ro0gr commented on #354
@BobrImperator I've checked your demo app and can't find any usages of `async`/`await`. I'm closing the issue. Feel free to re-open if I miss something.

----

Seems like the issue in your demo test is caused by invalid page object usage.
[Here](https://github.com/BobrImperator/page-object-dummy/commit/b68af84991cc9c9e03cdc9d60445b6b00746a3ba#diff-28c3095c102f844034c2475c07dfae58R20) you try to ac

[2017-12-28 21:54] #354 closed

[2017-12-28 22:36] ro0gr commented on #355
TBH I'm not very happy to drop a chaining support. In my opinion it's quite convenient feature.
I believe in tests most of the time we need an async behavior so if we loose chaining we might end up with endless `await`s. Let's compare a synthetic example with two syntaxes:

- chaining
[code]
- async/await
[code]

I find that the chaining syntax is much less verbose. In the second example we're for

[2017-12-29 02:55] bendemboski commented on #355
## Syntax verbosity/[brevity](https://www.youtube.com/watch?v=Be7Og9Gc_KY)

@ro0gr agreed that dropping chaining forces a more verbose syntax. It occurs to me that with a very small code change we could support a more concise form of your example.

[code]

Although it's still not as concise as chaining. However, whether or not we support chaining, when _not_ chaining, I strongly urge us to support

[2017-12-29 16:59] bendemboski commented on #355
🎉 my last idea for how to support the pre-existing chaining async behavior worked. It's in its own commit in the PR I just opened (#357), and isn't too terribly hacky 😄 Other than documentation and maybe improving test coverage a tiny bit, I think that PR is ready to go, so anybody that wants to look over the code or try it out with your test suite, have at it!

[2017-12-30 19:54] magistrula commented on #352
I like the idea of supporting both the new and old `collection` behavior simultaneously. Agree that it is kinda ugly, but it's such a big win in terms of developer convenience. Supporting both API's will decouple introducing the new API from breaking the old API, which will give us more freedom to choose when it's appropriate to do the latter.

[2018-01-02 16:13] ab9-er opened #358 "Parsing variables in selectors"
I am trying to build a page object but the selector that I am using in the clickable function has a variable like,

[code]

The problem is I cannot reference the variable `${testValue}`. Do you have any ideas how can I go about it ?

[2018-01-02 16:32] ro0gr commented on #358
You can't access it cause you haven't `testValue` variable defined. I'm not sure what you're trying to achieve but to make it not fail you have to define the variable:
[code]

[2018-01-03 09:10] #358 closed

[2018-01-06 21:02] san650 opened #359 "Planning v2 release"
(This are some ideas and we're open to suggestions)

## Main goals

* Make it easier to maintain
  * Support fewer versions of ember/ember-cli (just 3.0 and above?)
* Remove jQuery dependency
* Support for RFC268 tests (see #357)
* Clean up API
  * New collection API (see #352, #347 and #345)
  * Cleanup API options, helpers, requires, etc.
* Site redesign with ember-cli-addon-docs (#353)
* Migrat

[2018-01-06 21:02] san650 commented on #344
Closed in favor of #359

[2018-01-06 21:02] #344 closed

[2018-01-06 22:28] magistrula opened #361 "ember-cli-page-object clobbers host app version of ember-test-helpers"
Observed in an app that uses `ember-test-helpers@0.6.3`, when testing the changes for #357:

`import wait from 'ember-test-helpers/test'` pulls in `wait` from `v0.7.13` (`ember-cli-page-object` version) instead of from `v0.6.3` (host-app version).

[2018-01-06 22:39] san650 commented on #361
After discussing with @magistrula we came to the conclusion that instead of adding `ember-test-helpers` as a dependency of ember-cli-page-object, we need to move it as a dev-dependency (because of this addon's tests) and install the dependency on the host app using the installation blueprint.

https://ember-cli.com/extending/#working-with-dependencies

This way we'll update host's `ember-test-help

[2018-01-06 23:54] san650 opened #362 "Test build on fastboot"
See https://github.com/san650/ember-cli-page-object/pull/348#issuecomment-355786704

[2018-01-07 17:51] bendemboski commented on #361
@san650 @magistrula

I chatted with some of the Ember core team folks, and they recommend something a little different. The intent is that apps won't specify their own version of `ember-test-helpers` (now called `@ember/test-helpers`), but will just use the version pulled in by `ember-qunit` or `ember-mocha` (which is what your project was doing @magistrula -- apparently correctly, sorry for the b

[2018-01-21 20:42] ro0gr opened #365 "Deprecate imports from `./page-object`"
In the [docs](http://ember-cli-page-object.js.org/docs/v1.13.x/migrating) we still can see an old style of imports from the `test-support` directory:
[code]

I think it's a good time to notify users about the recommended way to import
[code]
and to get rid of old style in the v2.0.

_This issue is complementary to #359_

[2018-02-04 15:37] #365 closed

[2018-02-05 23:46] #361 closed

[2018-02-06 15:50] backspace opened #376 "visitable API changed in 1.13: slashes are now encoded"
Hey, I’m finally digging into a breaking change I saw the effects of in [1.13](https://github.com/travis-ci/travis-web/pull/1456), only because Greenkeeper then made a PR for 1.14 haha 😳

At the time, I was too busy to look into the problem, but I now understand: the handling of a URL segment with a `/` has changed. In `travis-web`, we use a repository “slug” as an entire entity sometimes, with th

[2018-02-06 17:46] backspace opened #377 "New collection API requires andThen wrappers"
Hello again! I love the new collection API, so much cleaner. In the course of updating the `travis-web` page objects, though, I found that I needed to add a bunch of `andThen`s that were previously unnecessary, whenever we were using a page object to perform an action.

For instance, in a test that cancels a build, with the old API, we have [this](https://github.com/travis-ci/travis-web/blob/293e3

[2018-02-06 18:06] san650 commented on #376
@backspace this is definitely a violation of semantic versioning! We'll address the issue. I know there's people expecting this new behavior, what we can do is have a config flag to turn this new behavior on.

I'll try to address this issue this week, sorry for the inconvenience.

[2018-02-06 18:08] backspace commented on #376
It’s not a huge deal, just something I noticed while updating from 1.12 to 1.14. Thanks for looking into it!

[2018-02-06 18:10] san650 commented on #377
This is really interesting, let me take a look to understand what's happening and come back to you.

I liked the old approach without the extra `andThen`, let me see how easy is to bring that back.

[2018-02-06 19:29] ro0gr commented on #377
@backspace great report! Thanks.

I think the issue is that we changed the way we handle case when the collection item is not found.

In the legacy collection we always return a page object instance despite the equal DOM node exists or not. That allows us to reach `click()` async helper:

[code]

With the new collection we started to throw in case if the collection item is not found which prevents

[2018-02-06 20:21] backspace commented on #377
It’s strange though because before these changes, the elements _did_ exist. For the example I linked to, the cancel button was definitely being clicked because the flash message that shows after cancellation was properly displayed.

But I regularly have confusion about what I can expect to be available outside `andThen` so maybe this is another instance of that 😆

Thanks for the thread link; I ski

[2018-02-07 17:03] #377 closed

[2018-02-13 22:04] danwenzel opened #379 "Use 'includes' instead of 'contains'?"
JS convention seems to have moved toward using the method name `includes` instead of `contains`.  For enumerables, [Ember is deprecating `contains`](https://www.emberjs.com/deprecations/v2.x/#toc_enumerable-contains), and [`includes` is pretty much the only available method on JS strings](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes).

Shouldn't

[2018-02-14 14:18] san650 commented on #379
@danwenzel I like the suggestion!

If we do this, we should deprecate `contains` first and make `includes` available. We could drop de deprecation in v2.0

[2018-02-15 14:12] Sinled commented on #355
Any news on this issue? New tests api is already here, but i cannot migrate my tests yet, because of incompatibility.

[2018-02-16 17:32] ro0gr commented on #355
@Sinled I think https://github.com/san650/ember-cli-page-object/pull/357 is in a pretty good shape. It's going to be included in the 2.0 release. I think we still need some docs.

[2018-02-20 13:25] wayne-o opened #380 "visit is not defined"
I have just created a new project, added some code from the quickstart and for some reason I keep getting "visit is not defined"

You can see the project here: https://github.com/wayne-o/brownbag-todo

[2018-02-20 13:35] wayne-o commented on #380
This happens at line 27 of this file:
[code]

[2018-02-20 13:37] wayne-o commented on #380
or in this repo, here: https://github.com/san650/ember-cli-page-object/blob/master/addon/-private/execution_context/acceptance.js#L34

[2018-02-20 15:28] san650 commented on #380
We don't have support for the new test API in master yet, we do have a PR for adding that #357.

We plan to merge this one soon, sorry the inconvenience

[2018-02-21 19:12] #352 closed

[2018-02-21 19:17] ro0gr opened #381 "Missing docs for new collection API"
v1.14.x should be added to the docs.

see:
 - https://github.com/san650/ember-cli-page-object/issues/352
 - https://github.com/san650/ember-cli-page-object/pull/347

[2018-02-21 19:18] ro0gr commented on #381
also do we want to document Proxies https://github.com/san650/ember-cli-page-object/pull/375?

[2018-02-23 20:29] #355 closed

[2018-03-08 21:09] ro0gr opened #388 "Unclear findElement/findElementWithAssert import path"
`findElement` and `findElementWithAssert` are currently exported from [index.js](https://github.com/san650/ember-cli-page-object/blob/17dbadd4e23310a9948a0767bff6ba395fc9c9ca/addon/index.js#L24-L25) and and [extend.js](https://github.com/san650/ember-cli-page-object/blob/17dbadd4e23310a9948a0767bff6ba395fc9c9ca/addon/extend.js#L1-L2).
Different import paths are also suggested in the docs for these

[2018-03-09 14:55] san650 commented on #388
The idea is to use the `ember-cli-page-object/extend` path. Let's deprecate the other export path!.

[2018-03-13 21:26] ro0gr commented on #381
fixed by https://github.com/san650/ember-cli-page-object/pull/391

[2018-03-13 21:26] #381 closed

[2018-03-16 22:07] ro0gr opened #392 "Improve assertions"
I [think](https://github.com/ember-learn/ember-cli-addon-docs/pull/112#issuecomment-373855353) there is a lack of assertions expressiveness using page objects:
[code]
 I think we can get an inspiration from `qunit-dom`. It has very similar API:
 - isVisible
 - hasClass
 - hasText(contains in the page-object world)
 - lots...

What if we have own qunit extension like:

[code]
This way an assertion

[2018-03-16 23:50] san650 commented on #392
@ro0gr have you tried [ember-qunit-nice-errors](https://github.com/wyeworks/ember-qunit-nice-errors) ? This other addon was my attempt to solve the same problem. It's qunit specific though.

[2018-03-17 00:37] ro0gr commented on #392
@san650 thanks! Updated "Alternatives" section with "ember-qunit-nice-errors"

[2018-03-19 14:01] sukima commented on #392
Alternative: Sinon offers a good assertion API which integrates into your test framework. Using this style API made it easy to offer good error messages but also keep the library frame agnostic (has hooks for QUnit, Mocha, Jasmine, etc.) I found this exceptionally useful in my own tests that use Sinon.

## What this would look like

All page objects would have an `assert` namespace. Each assert wo

[2018-03-19 14:43] ro0gr commented on #392
@sukima I'm glad you also think assertions can be improved.

Regarding this snippet:
[code]
`page.title.isVisible` returns a boolean so if we do like this we would be unable to get any context specific information:
 - which was the page node(`page.title`)
 - which property we assert against(`isVisible`)

I think to keep a sinon flavour it has to be re-written to something like:
[code]
which is pre

[2018-03-19 22:05] josh803316 opened #393 "New collection API, trying to upgrade and stuck on a scope question..."
For some reason, when I upgrade and use the new collection API... when I reference #filters__selected  in the example below I am not filtering by the filters__selected scope and find all the buttons instead of just the buttons inside the filters__selected div.

[code]

old:

[code]

new:
[code]

`filters.selected` ends up having more button items than I would expect given my previous test... am I

[2018-03-19 22:21] san650 commented on #393
Hi @josh803316, can you try this?

[code]

The attribute `scope` inside collections doesn't work anymore like it used to. Everything you define in the second argument of `collection` is used in the item context.

Let me know if this fixes the issue and if you have any other question.

[2018-03-19 22:28] josh803316 commented on #393
Yes, looks like that works @san650 - Thanks for the guidance

[2018-03-19 22:29] #393 closed

[2018-03-20 20:14] k3n opened #395 "Properties not resolving?"
Tested on:
* `ember-cli-page-object` @ v1.12 and v1.14
* `ember` @ 2.14.1
* OSX
* Google Chrome 65.0.3325.162 (Official Build) (64-bit)

This is a strange issue, the desired properties return `undefined` while under test, and when I look at it in the console, Chrome shows `(...)`, and when I click to reveal, the expected value appears. I also observed the ES6 getter syntax for the properties, so t

[2018-03-20 20:16] k3n commented on #395
`"isVisibile" !== "isVisible"`

Thanks for the rubber-duck session! Sorry for the spam.

[2018-03-21 16:34] san650 commented on #395
Just to give more info in case someone else has the same question:

Page object properties are lazily  evaluated on access. The reason for doing this is because we evaluate that DOM elements exists when you try to read the properties from the page object instead of doing this upfront when the page object is defined.

Hope this helps to make the issue clearer.

[2018-03-22 02:26] yohanmishkin commented on #380
Is this issue still a problem with PR #357 having been merged?

[2018-03-22 02:30] yohanmishkin commented on #380
Ah, I see it's still in pre-release (v1.15.0-beta.1).

[2018-03-22 02:53] san650 commented on #380
@yohanmishkin you're right, this is fixed in master.

[2018-03-22 02:53] #380 closed

[2018-03-22 23:42] josh803316 commented on #393
Follow up question, but similar in nature... it seems the following worked in the legacy collection model but not the new one:

[code]

[2018-03-23 03:48] san650 commented on #393
@josh803316 one of the changes we did to the collection API is that we don't have the concept of collection level functions, e.g `pageObject.includeBucket.clearAll()`

I would rewrite your example as:

[code]

As you can see, I removed the `scope` attribute from inside the collection and moved the `clearAll` function to outside also.

Please, let me know if this works for you.

---

Apart from tha

[2018-03-23 09:28] josh803316 commented on #393
@san650 Thanks so much for the detailed explanation! I am doing the upgrade but did not write the original code or tests so I'm not sure why they weren't using clickable, but I'm going to change the tests to appropriately use it. I also agree about those selectors although it seems they were using the outer and inner scope before for all their collection related stuff... I'll see if I can switch t

[2018-04-06 22:33] simonihmig opened #397 "FastBoot broken without jQuery"
After removing jQuery, I get this in a app when it runs in FastBoot:

[code]

When jQuery is missing, the own version shipping with this addon is imported here:
https://github.com/san650/ember-cli-page-object/blob/17dbadd4e23310a9948a0767bff6ba395fc9c9ca/index.js#L28-L31

I am not sure why this is breaking FastBoot, while when Ember CLI imports jQuery (when it is not excluded by setting `vendorFil

[2018-04-07 13:35] san650 commented on #397
Thanks @simonihmig for reporting this.

If it's backwards compatible, yes!

I guess a long time ago we moved everything to `addon` folder to change how to import the page object helpers from your application. If I remember correctly, `test-support/` folder was merged with application's `test/` folder making all addon's modules to "magically" appear under app's context. e.g. `import PageObject from

[2018-05-10 19:01] denniss17 commented on #259
It would be great if this feature would be added. Something like:
[code]

When inserting input:
[code]

When reading:
[code]

So basically `address()` would behave as the result of the `fillable` functions, while `address` would return a component scoped on the same scope. Using this component, the default attributes as specified in [the documentation](http://ember-cli-page-object.js.org/docs/v1.1

[2018-05-10 20:36] ro0gr commented on #259
@denniss17 currently `fillIn` and `value` are both available for each page object component, see "Default Attributes" section of the ["Components Doc"](http://ember-cli-page-object.js.org/docs/v1.14.x/components).

This allows us just to declare an address field:
[code]
and use it in your test in the following form:
[code]
Does it work for you?

[2018-05-10 20:53] #259 closed

[2018-05-10 21:07] ro0gr commented on #392
As mentioned in the Alternatives it is potentially possible to integrate with `qunit-dom`.

The  work on qunit asserionts improvements is going(slooowly) in the [ember-qunit-page-object](https://github.com/ro0gr/ember-qunit-page-object) repo.

The idea is to provide API like:
[code]

Closing the issue cause it's totally possible to do it in a separate addon.

[2018-05-10 21:07] #392 closed

[2018-05-11 00:26] san650 commented on #353
YES! let's do it

[2018-05-21 05:46] oliverlangan opened #407 "`getter` as component `scope`"
(Page Object) Components are a great way to create reusable test helpers for (Ember) components. In some cases, it the requirements for choosing a specific element are more complicated than a simple selector string.

Take the case of selecting an element by its label. Sometimes the element is inside the label, but often the relationship is by ID, via the `for` attribute. And both may be within ano

[2018-05-21 20:41] ro0gr commented on #407
@oliverlangan not sure I understand the issue. Can you please share an example of how do you want a `getter` to behave?

[2018-05-22 17:30] oliverlangan commented on #407
Sure... this is pseudocode, but I would like to have something like:

[code]

use it like:
[code]

Since I can already return objects, which will then be treated as page object components, I could then wrap this in a function (not shown here) which takes an arbitrary label string, but is still not resolved until I call it.

[code]

I do have something a bit like this working, but since the scope c

[2018-05-22 22:56] ro0gr commented on #407
I see what you are doing. I think this is not possible due to `findElement` [tries](https://github.com/san650/ember-cli-page-object/blob/ea4bd566089c4ee7f3e5c9a1e629279e3b4ea736/addon-test-support/-private/execution_context/rfc268.js#L147) to calculate the whole page-object node's scope. This makes findElement to recursively call `this.scope` and leads to infinite recursion :disappointed:

[2018-05-22 23:33] ro0gr commented on #407
But it should be theoretically possible to:
[code]

[2018-05-24 00:03] ro0gr commented on #407
Seems like I have a working snippet:

[code]

Here are 2 important points to note:
  - Eager creation of Page Object components should be avoided. `create` enumerates each passed objects's property recursively. So the problem appears when the top level `create` accesses a getter which is already set up by the first `create`:
[code]
  - A circular reference on `this.scope` should be avoided. Seems

[2018-05-24 00:03] #407 closed

[2018-05-28 19:54] ro0gr opened #408 "Definition string value as a component selector"
This is a feature request to slightly improve ergonomic of the Page Object Components definition.

Currently the shortest form of a component definition would look something like:
[code]
When I define few components on a page object it gets a bit noisy because we need to define an object with a `scope` option to create a component. For me the most used building blocks of the Page Object are Compon

[2018-06-12 19:25] ro0gr opened #412 "Docs content issues"
I think documentation currently wants some content enhancements. Opening this to discuss and track the progress of the guides enhancements for v1. There are few issues I found:

- [x] Usage of the old testing API.

I think switching to `async`/`await` is a prerequisite for a stable 1.15 release. Migration from `andThen`s and Integration tests would dramatically improve readability.
Related activit

[2018-06-13 21:55] danwenzel opened #413 "Beta version marked as latest in npm"
Version 1.15.0-beta.3 is marked as the "latest" version in npm.  This should not be, as "latest" should be the last stable version, not a beta version.

https://www.npmjs.com/package/ember-cli-page-object#versions

[2018-06-13 22:52] san650 commented on #413
We could release the final version v1.15.0 or republish v1.14.x as latest

[2018-06-13 22:58] san650 commented on #413
Playing a bit with [`npm-dist-tag`](https://docs.npmjs.com/cli/dist-tag) did the trick!

<img width="672" alt="screen shot 2018-06-13 at 7 57 02 pm" src="https://user-images.githubusercontent.com/1234607/41382777-0b24c14e-6f44-11e8-93a8-dda2cd514468.png">

Thanks @danwenzel for pointing this out!

[2018-06-13 22:58] #413 closed

[2018-06-13 22:59] danwenzel commented on #413
🎉  Thanks!

[2018-06-13 23:02] san650 commented on #413
Just for future reference, I've updated the wiki on how to publish beta versions

https://github.com/san650/ember-cli-page-object/wiki/How-to-release-a-new-version

[2018-06-21 20:15] ro0gr commented on #408
While the proposal feels ergonomic to me, unfortunately it's not a forward compatible change.

If we accept the proposal then on the page object creation phase we need to guard if a found string is neither a `scope` nor a `testContainer`. If we decide to extend component definitions with a new string options we would break consumers of the older `ember-cli-page-object` versions.

[2018-06-29 20:05] ro0gr commented on #397
should be fixed in [v1.15.0-beta.3](https://github.com/san650/ember-cli-page-object/releases/tag/v1.15.0-beta.3)

[2018-06-29 20:05] #397 closed

[2018-07-24 22:00] ro0gr commented on #288
I think we should have a way to describe where an element id can be found. So `id` field sounds like a good candidate for a default collection DSL to me. If we have an `id` we then also need something like `getById`.

[code]

Hopefully it should be also possible to proxy it like we [do](https://github.com/san650/ember-cli-page-object/blob/e8a2003d39218935a0ae7b2cb03054743b8cce79/addon-test-support

[2018-07-24 22:18] san650 commented on #288
@lsthornt have you tried doing something like this?

[code]

[code]

[2018-07-25 00:36] san650 commented on #308
👏 👏 👏 👏 👏 👏

[2018-08-07 21:38] Dhaulagiri opened #422 "Ember.logger is deprected"
Forthcoming ember releases will ship with a [deprecation](https://github.com/emberjs/rfcs/pull/297) of `Ember.logger`, so [this](https://github.com/san650/ember-cli-page-object/blob/9eb38bd93e8b034fb6ed62787367425420d3a1cb/addon-test-support/-private/better-errors.js#L5) will need to be adjusted to account for the deprecation.

[2018-09-07 18:12] csantero opened #423 "missing jquery when project updated to ember 3.4"
I've tried updating an addon of mine which uses ember-cli-page-object from ember-source 3.1 to 3.4, and have encountered a problem regarding jquery. My addon imports a jquery plugin that relies on a global `jQuery` object being present. Post-update, even with `@ember/jquery enabled`, ember-cli-page-object is including the `ecpo-jquery` shim, which _deletes_ the global `jQuery` that the jquery plug

[2018-09-12 18:41] san650 commented on #423
@csantero is the addon you're updating public? If so, can you post a link to the branch that reproduces this issue?

[2018-09-12 19:30] san650 commented on #423
This is good to hear, we're planning on releasing v1.15.0 soon.

Completely agreed. Do you know how can we fix this issue? Could you try fixing this issue in ecpo? I could give it a try at fixing this but not sure how to reproduce the issue. I would appreciate any help!

[2018-09-24 04:01] jrjohnson commented on #423
I was seeing this as well and created a reproduction at

https://github.com/jrjohnson/reproduction-page-object-423
It is just
[code]
`yarn test` will cause the error. It is broken all the way through 1.15 beta 2, but it is fixed in beta 3.

[2018-09-25 00:58] rtablada opened #426 "Typescript Typings"
I would like to see if there are any interests or existing efforts to add typings for Ember CLI Page Object to help work with Typescript support and general editor support and suggestions/autocompletes.

[2018-10-12 20:11] leondmello commented on #426
Yea, this would be awesome 😄

[2018-10-14 18:54] ro0gr commented on #426
Glad to see the ticket.

I've made [some](https://github.com/ro0gr/ember-cli-page-object/blob/9a5a6be96fc03f69b95edf3f3515aab8bfab42f7/addon-test-support/ts/po.ts) progress with definitions recently.

It auto-completes sub-components and attrs:

[code]

There is still lots of work to be done yet.

TS with pojos is problematic. Custom PO methods have `this: any` by default. Maybe public typing for

[2018-10-16 16:50] san650 commented on #426
I'm not a typescript user (yet) but this looks amazing 👏👏

[2018-10-29 20:43] Yathi opened #429 "Clickable or clickOn with async?"
The docs don't seem to be using async/await. I tried adding `await` in front of my clickable call and it doesn't seem to be working.

So I looked into the docs and I see that one of the PRs uses `await page.clickOn()`. But how does `clickOn()` work? I tried passing in a class into it, and that did not seem to work. Any help is appreciated. Thank you! :)

[2018-10-29 22:22] san650 commented on #429
async/await should work for all actions (including `clickable`).

[code]
☝️ this should work, if it doesn't, please open a bug with an page object example and the version of the addon that you're using.

There's another helper named `clickOnText` that works this way:

[code]

You can see the documentation here: http://ember-cli-page-object.js.org/docs/v1.14.x/api/click-on-text

Apart from that, re

[2018-10-30 04:34] #429 closed

[2018-10-30 04:34] san650 commented on #429
Feel free to open the issue again if my previous answer is not enough.

[2018-11-12 14:16] cwhittl commented on #380
I'm seeing this in the latest version of Ember and latest of this library.  Could it be a similar issue?

[2018-11-19 21:47] mistahenry commented on #422
Can be closed now that [425](https://github.com/san650/ember-cli-page-object/pull/425) has merged

[2018-11-19 22:19] #422 closed

[2018-11-19 23:59] ro0gr commented on #181
@mistahenry considering your form element example.

Maybe it's just me, but deep overrides makes me harder to reason about the final shape of the definition. In order to get a desirable page object, you have to know the whole nested shape of the source definition, the whole nested shape of the patch definition and the merging algorythm.

That's why when dealing with page object definitions I compl

[2018-11-20 09:50] mistahenry commented on #181
That's my whole point. I've never said it wasn't possible, just that it was cumbersome, verbose, and unintuitive.

With a shallow merge extend approach + composition, look at the difference:

[code]
IMO, everything being a page object is far simpler. Nothing stops you from still externalizing your definitions, always exporting a copy of every definition along side each page object, and using `Obje